{% extends "base.html" %}
{% load static%}
{% block title%} Cashbook {% endblock%}
{% block content %}
<div class='cashboook w-100' style="width: 600px;">
    <div class='d-flex justify-content-between align-items-center bg-dark text-light p-2 shadow rounded'>
        <div class='h5'>Cash Book</div>
        <div>
            <button class="btn btn-light" id='filterBtn'>
                <option>Filter</option>
            </button>
        </div>
    </div>
    <div class='row px-2'>
        <div class='col-6 mt-3 border' style="border-right:1px solid black;">
            <div class='h6 broder p-2'>Debit</div>
            <table class='table table-hover'>
                <thead class="bg-primary">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id='debit'>
                    <tr>
                        <td><small>{{ yesterday_date }}</small></td>
                        <td><small>{{ 'Balance/bd' }}</small></td>
                        <td><small>{{ entry.currency.symbol }} {{ balance_before }}</small></td>
                    </tr>
                    {% for entry in cashbook_entries %}
                        {% if entry.debit %}
                        <tr>
                            <td><small>{{ entry.issue_date }}</small></td>
                            <td><small>{{ entry.description }}</small></td>
                            <td><small>{{ entry.currency.symbol }} {{ entry.amount }}</small></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-6 mt-3 border'style="border-left:1px solid black;">
            <div class='h6 broder p-2'>Credit</div>
            <table class='table table-hover'>
                <thead class="bg-primary">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id='credit'>
                    {% for entry in cashbook_entries %}
                        {% if not entry.debit %}
                        <tr>
                            <td><small>{{ entry.issue_date }}</small></td>
                            <td><small>{{ entry.description }}</small></td>
                            <td><small>{{ entry.amount }}</small></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><small>{{ today }}</small></td>
                        <td><small>{{ 'balance c/d '}}</small></td>
                        <td><small>{{ balance_carried_forward }}</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h6 class="mt-2 fw-bold">Filters</h6>
                    <form method='get' class='d-flex justify-content-center mt-2'>
                        <input hidden name='day' value='today'/>
                        <button type="submit" class='btn btn-large border w-100 btn-flat'>Today</button>
                    </form> 

                    <form method='get' class='d-flex justify-content-center mt-2'>
                        <input hidden name='day' value='yesterday'/>
                        <button type="submit" class='btn btn-large border w-100 btn-flat'>Yesterday</button>
                    </form> 
                    
                    <form method='get' class='d-flex justify-content-center mt-2'>
                        <input hidden name='day' value='week'/>
                        <button type="submit" class='btn btn-large border w-100 btn-flat'>This Week</button>
                    </form> 

                    <form method='get' class='d-flex justify-content-center mt-2'>
                        <input hidden name='day' value='month'/>
                        <button type="submit" class='btn btn-large border w-100 btn-flat'>Last week</button>
                    </form> 

                    <form method='get' class='d-flex justify-content-center mt-2'>
                        <input hidden name='day' value='year'/>
                        <button type="submit" class='btn btn-large border w-100 btn-flat'>This month</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const filterBtn = document.getElementById('filterBtn');
    const filterModal = new bootstrap.Modal(document.getElementById('filterModal'));

    filterBtn.addEventListener('click', ()=>{
        filterModal.show()
    })
</script>
{% endblock%} 
