{% extends "base.html" %}
{% load static%}
{% block title%} Cashbook {% endblock%}
{% block content %}
<div class='cashboook w-100' style="width: 600px;">
    <div class='d-flex justify-content-between align-items-center bg-dark text-light p-2 shadow rounded'>
        <div class='h5'>Cash Book</div>
        <div>
            <select name='filter' id='filter' class='form-control'>
                <option>Filter</option>
            </select>
        </div>
    </div>
    <div class='row px-2'>
        <div class='col-6 mt-3 border' style="border-right:1px solid black;">
            <div class='h6 broder p-2'>Debit</div>
            <table class='table table-hover'>
                <thead class="bg-primary">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id='debit'>
                     {% for entry in cashbook_entries %}
                        {% if entry.debit %}
                        <tr>
                            <td><small>{{ entry.date }}</small></td>
                            <td><small>{{ entry.description }}</small></td>
                            <td><small>{{ entry.amount }}</small></td>
                            <td><small>{{ entry.b_f }}</small></td> 
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-6 mt-3 border'style="border-left:1px solid black;">
            <div class='h6 broder p-2'>Credit</div>
            <table class='table table-hover'>
                <thead class="bg-primary">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id='credit'>
                    {% for entry in cashbook_entries %}
                        {% if not entry.debit %}
                        <tr>
                            <td><small>{{ entry.date }}</small></td>
                            <td><small>{{ entry.description }}</small></td>
                            <td><small>{{ entry.amount }}</small></td>
                            <td><small>{{ entry.b_f }}</small></td> 
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%} 
