{% extends "base.html" %}
{% load custom_filters %}
{% load static%}
{% block title%} Customer {% endblock%}
{% block content %}
<div class="finance d-flex">
    <div class="px-2 main-content ">
        <div class='row mt-2 px-2'>
            <div class='col shadow rounded px-1'>
                <div class='img mt-4 d-flex align-items-center flex-column'>
                    {% with name_parts=customer.name|split_name %}
                        {% if name_parts.first_name and name_parts.last_name %}
                            <div class='initials'>
                                <span class='content'>{{ name_parts.first_name.0 }}{{ name_parts.last_name.0 }}</span>
                            </div>
                        {% else %}
                            <div class='initials'>
                                <span class='content'>{{ name_parts.first_name.0 }}</span>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <h6 class='fw-bold mt-2'>{{ customer.name }}</h6>
                   <div class="mt-2 text-center">
                        <small>
                            <span>
                                <i class='bx bx-user'></i>
                                {{customer.name}}
                            </span>
                            <span class='px-1'>
                                <i class='bx bx-phone'></i>
                                {{customer.phone_number}}
                            </span>
                            <span>
                                <i class='bx bx-envelope'></i>
                                {{customer.email}}
                            </span>
                            <span class='px-1'>
                                <i class='bx bx-current-location' ></i>
                                {{customer.address}}
                            </span>
                        </small>
                   </div>
                </div>
            </div>
            <div class='col'>
                <div class='card'>
                    <div class='card-body rounded'>
                        <h6>Account</h6>
                        {% for balance in account %}
                        <h6 class='text-center text-light fw-bold text-muted'>{{balance.currency.symbol}} {{balance.balance}}</h6>
                        {% endfor %}
                    </div>
                </div>
                <div class='card mt-2'>
                    <div class='card-body rounded'>
                        <h6>Invoice Count</h6>
                        <h6 class='text-center text-light fw-bold text-muted'>{{invoice_count}}</h6>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='mt-3 mb-3'>
            <nav class='recent-nav navbar navbar-expand-lg navbar-light bg-light px-2'>
                <ul class='navbar-nav items  mr-auto'>
                    <li class='nav-item active' data-name="transactions">Transactions</li>
                    <li class='nav-item px-2' data-name="payments">Account Payments</li>
                </ul>
            </nav>
        </div>
        
        <div class='transactions'>
            <div class="d-flex mb-3">
                <input
                    type="search"
                    id="invoice_q"
                    name="invoice_q"
                    placeholder="search by invoice number"
                    class="form-control"
                />
            </div>
            <table class="table border rounded table-hover table-responsive table-sm p-2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice #</th>
                        <th>Product(s)</th>
                        <th>Amount Paid</th>
                        <th>Amount Due</th>
                        <th>Amount</th>
                        <th>Processed by</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="transaction_items"></tbody>  
            </table>
        </div>

        <div class='payments hidden'>
            <div class="d-flex mb-3">
                <input
                    type="search"
                    id="trans_q"
                    name="trans_q"
                    placeholder="search by invoice number"
                    class="form-control"
                />
                <span>
                    <button type="button" id="viewBtn" class="btn btn-light btn-sm"><small>view statement</small></button>
                </span>
            </div>
            <table class="table border rounded table-hover table-responsive table-sm p-2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice #</th>
                        <th>Amount Paid</th>
                        <th>Invoice Amount</th>
                        <th>Amount Due</th>
                        <th>Processed by</th>
                    </tr>
                </thead>
                <tbody id="payments"></tbody>  
            </table>
        </div>
    </div>

    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'finance/customers/account_statement.html' %}
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/jquery.js'%}"></script> 
<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script> 
<script type="text/javascript">
    let paymentsData= []
    let transactionsData= []

    const trans = $('.transactions')
    const payments = $('.payments')
    const navButtons = document.querySelectorAll('.nav-item')

    const transactionsTable = document.querySelector('#transaction_items')
    const paymentsTable = document.querySelector('#payments')

    const viewBtn = document.querySelector('#viewBtn')
    const accountModal = new bootstrap.Modal(document.querySelector('#accountModal'))

    viewBtn.addEventListener('click', ()=>{
        accountModal.show()
    })

    navButtons.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                navButtons.forEach(b => b.classList.remove('active')); 
                event.target.classList.add('active'); 
                show(btn.dataset.name)
            }
        )
    })

    function show(name){
        trans.addClass('hidden')
        payments.addClass('hidden')
        $(`.${name}`).removeClass('hidden'); 
    }

    // transactions
    $.ajax({
        url: '{% url "finance:customer_transactions_json" %}',
        type: 'GET',
        data: {'type': 'invoices', 'customer_id': {{customer.id}}},
        }).done(function(response) {
            const data = response
            console.log(data)
            transactionsData.push(data)
            displayTransactionTable(data)
    })

    // transaction search 
    document.querySelector('#invoice_q').addEventListener('input', ()=>{
        const search_q = document.querySelector('#invoice_q').value
        let filteredData = transactionsData[0].filter((data)=>{
            return(data.invoice_number.includes(search_q))
        })
        transactionsTable.innerHTML=''
        displayTransactionTable(filteredData)
    })

    // transaction display
    function displayTransactionTable(data){
        data.forEach((data)=>{
            transactionsTable.innerHTML += `
            <tr>
                <td><small>${new Date(data.issue_date).toDateString()}<small></td>
                <td><small>#${data.invoice_number}</small></td>
                <td><small>${data.products_purchased}</small></td>
                <td><small>${data.amount_paid}</small></td>
                <td><small>${data.amount_due}</small></td>
                <td><small>${data.amount}</small></td>
                <td><small>${data.user__username}</small></td>
                <td>
                    <span>
                        <a href="/finance/invoice/preview/${data.id}/" class="text-dark">
                            <i class='bx bx-show'></i>
                        </a>
                    </span>  
                </td>
        `
        })
    }
    
    // payments
    $.ajax({
        url: '{% url "finance:customer_payments_json" %}',
        type: 'GET',
        data: {'type': 'invoice_payments', 'customer_id': {{customer.id}}},
        }).done(function(response) {
            const data = response
            console.log(data)
            paymentsData.push(data)
            displaypaymentsTable(data)
    })

    // payment search 
    document.querySelector('#trans_q').addEventListener('input', ()=>{
        const search_q = document.querySelector('#trans_q').value
        let filteredData = paymentsData[0].filter((data)=>{
            return(data.invoice__invoice_number.includes(search_q))
        })
        paymentsTable.innerHTML=''
        displaypaymentsTable(filteredData)
    })

    // payment display
    function displaypaymentsTable(data){
        data.forEach((data)=>{
            paymentsTable.innerHTML += `
            <tr>
                <td><small>${new Date(data.payment_date).toDateString()}</small></td>
                <td><small>#${data.invoice__invoice_number}</small></td>
                <td><small>${data.invoice__currency__symbol} ${data.amount_paid}</small></td>
                <td><small>${data.invoice__currency__symbol} ${data.invoice__amount}</small></td>
                <td><small>${data.invoice__currency__symbol} ${data.invoice__amount_due}</small></td>
                <td><small>${data.user__username}</small></td>
            `
        })
    }
    

</script>
{% endblock content %}
