{% extends "base.html" %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static%}
{% block title%} Customer {% endblock%}
{% block content %}
<div class="finance d-flex">
    <div class="main-content ">
        <div class='px-2 py-2 bg-dark d-flex justify-content-between text-light align-items-center rounded'>
            <div class='h5'>Customer Account</div>
            <div>
                <button class="btn btn-primary" id="id_add_deposit">
                    <i class='bx bx-plus'></i>
                    Deposit
                </button>
            </div>
        </div>
        <div class='row px-2 mt-3 mb-3'>
            <div class='col shadow rounded px-1'>
                <div class='img mt-4 d-flex align-items-center flex-column'>
                    {% with name_parts=customer.name|split_name %}
                        {% if name_parts.first_name and name_parts.last_name %}
                            <div class='initials'>
                                <span class='content'>{{ name_parts.first_name.0 }}{{ name_parts.last_name.0 }}</span>
                            </div>
                        {% else %}
                            <div class='initials'>
                                <span class='content'>{{ name_parts.first_name.0 }}</span>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <h6 class='fw-bold mt-2'>{{ customer.name }}</h6>
                   <div class="mt-2 text-center">
                        <small>
                            <span>
                                <i class='bx bx-user'></i>
                                {{customer.name}}
                            </span>
                            <span class='px-1'>
                                <i class='bx bx-phone'></i>
                                {{customer.phone_number}}
                            </span>
                            <span>
                                <i class='bx bx-envelope'></i>
                                {{customer.email}}
                            </span>
                            <span class='px-1'>
                                <i class='bx bx-current-location' ></i>
                                {{customer.address}}
                            </span>
                        </small>
                   </div>
                </div>
            </div>
            <div class='col'>
                <div class='card shadow'>
                    <div class='card-body'>
                        <h6>Account</h6>
                        {% for balance in account %}
                                <h6 class='text-center fw-bold {% if balance.balance < 0 %}text-danger{% endif %}'>{{balance.currency.symbol}} {{balance.balance}}</h6>
                        {% endfor %}
                    </div>
                </div>
                <div class='card mt-2 shadow'>
                    <div class='card-body rounded'>
                        <h6>Invoice Count</h6>
                        <h6 class='text-center text-light fw-bold text-muted'>{{invoice_count}}</h6>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='mt-3 mb-3'>
            <nav class='recent-nav navbar navbar-expand-lg navbar-light bg-dark text-light px-2'>
                <ul class='navbar-nav items  mr-auto'>
                    <li class='nav-item active' data-name="transactions">Transactions</li>
                    <li class='nav-item px-2' data-name="payments">Account Payments</li>
                    {% for currency in account %}
                        <li class='nav-item px-2' data-name="{{ currency.currency.symbol }}">{{ currency.currency.name }} Deposit(s)</li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <p class="text-danger" id="table_error"></p>
        <div class='transactions' id="dTables">
            <div class="d-flex mb-3">
                <input
                    type="search"
                    id="invoice_q"
                    name="invoice_q"
                    placeholder="search by invoice number"
                    class="form-control"
                />
            </div>
            <table class="table border rounded table-hover table-responsive table-sm p-2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice #</th>
                        <th>Product(s)</th>
                        <th>Invoice Amount</th>
                        <th>Amount Paid</th>
                        <th>Amount Due</th>
                        <th>Processed by</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="transaction_items"></tbody>  
            </table>
        </div>

        <div class='payments hidden' id="dTables">
            <div class="d-flex mb-3">
                <input
                    type="search"
                    id="trans_q"
                    name="trans_q"
                    placeholder="search by invoice number"
                    class="form-control"
                />
                <span>
                    <button type="button" id="viewBtn" class="btn btn-dark btn-sm"><small>view statement</small></button>
                </span>
            </div>
            <table class="table border rounded table-hover table-responsive table-sm p-2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice #</th>
                        <th>Product (s)</th>
                        <th>Invoice Amount</th>
                        <th>Amount Paid</th>
                        <th>Balance</th>
                        <th>Processed by</th>
                    </tr>
                </thead>
                <tbody id="payments"></tbody>  
            </table>
        </div>

        {% for currency in account %}
            <div class="{{ currency.currency.symbol }} hidden" id="dTables">
                <div class="d-flex mb-3">
                    <input
                        type="search"
                        id="deposit_q"
                        name="deposit_q"
                        placeholder="search by payment reference"
                        class="form-control"
                    />
                </div>
                <table class="table border rounded table-hover table-responsive table-sm p-2">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Reason</th>
                            <th>Processed by</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="{{ currency.currency.symbol }}"></tbody>  
                </table>
            </div>
        {% endfor %}
    </div>

    <div>
        <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="fw-bold">Add Deposit</h5>
                        <form method="post">
                            {{ form|crispy }}
                            <p class="text-danger" id="deposit_error"></p>
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <button type="reset" class="btn btn-danger btn-sm w-100">
                                        <i class='bx bx-reset'></i>
                                        Reset
                                    </button>
                                </div>
                                <span class="px-1"></span>
                                <div class="">
                                    <button type="button" id="id_submit_btn" class="btn btn-secondary btn-sm w-100">
                                        <i class='bx bx-save'></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>                                                              
    </div>

    <div>
        <div>
            <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% include 'finance/customers/account_statement.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" id="depositSuccessModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <i class='bx bx-check-circle h5'></i>
                        <h2>Deposit Successfully Saved</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="fw-bold">Enter Deposit Refund Amount</h5>
                        <form>
                            {% csrf_token %}
                                <div id="div_id_amount" class="mb-3"> 
                                    <label for="id_amount" class="form-label requiredField">
                                        Amount
                                        <span class="asteriskField">*</span>
                                        <span id="id_variance" class="mx-2"></span>
                                    </label> 
                                    <input type="number" name="amount" value="0" step="0.01" class="numberinput form-control" required="" id="id_refund_amount"> 
                                </div>   
                                <small class="text-danger" id="id_refund_error"></small>
                                <div class="d-flex justify-content-end">
                                    <div class="">
                                        <button type="reset" class="btn btn-danger btn-sm w-100">
                                            <i class='bx bx-reset'></i>
                                            Reset
                                        </button>
                                    </div>
                                    <span class="px-1"></span>
                                    <div class="">
                                        <button type="button" id="id_refund_submit_btn" class="btn btn-secondary btn-sm w-100">
                                            <i class='bx bx-save'></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script>
    let tableName = '';
    let depositData= [];
    let paymentsData= [];
    let transactionsData= [];

    const tableError = document.getElementById('table_error');

    const trans = $('.transactions');
    const payments = $('.payments');
    const navButtons = document.querySelectorAll('.nav-item');

    const transactionsTable = document.querySelector('#transaction_items');
    const paymentsTable = document.querySelector('#payments');

    const viewBtn = document.querySelector('#viewBtn');
    const accountModal = new bootstrap.Modal(document.getElementById('accountModal'));
    const depositModal = new bootstrap.Modal(document.getElementById('depositModal'));
    const depositSuccessModal = new bootstrap.Modal(document.getElementById('depositSuccessModal'));
    const refundModal = new bootstrap.Modal(document.getElementById('refundModal'));

    const addDepositbtn = document.getElementById('id_add_deposit');
    const depositError = document.getElementById('deposit_error');

    const depositAmount = document.getElementById('id_amount');
    const submitBtn = document.getElementById('id_submit_btn');


    viewBtn.addEventListener('click', ()=>{
        accountModal.show()
    })

    addDepositbtn.addEventListener('click', ()=>{
        depositModal.show()
    })

    navButtons.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                navButtons.forEach(b => b.classList.remove('active')); 
                event.target.classList.add('active'); 
                show(btn.dataset.name)
            }
        )
    })

    function show(name) {
        // Hide both transactions and payments sections initially
        const tableEls = document.querySelectorAll('#dTables');
        tableEls.forEach((t)=>{
            t.classList.add('hidden');
        })
        try {
            $(`.${name}`).removeClass('hidden');
            tableName = name;
        } catch (error) {
            tableError.textContent = 'Failed to load the table: ' + error.message;
            return;
        }
        
        displayDepositTable(depositData);
    }
    

    // transactions
    $.ajax({
        url: '{% url "finance:customer_transactions_json" %}',
        type: 'GET',
        data: {'type': 'invoices', 'customer_id': {{customer.id}}},
        }).done(function(response) {
            const data = response
            transactionsData.push(data)
            displayTransactionTable(data)
    })

    // transaction search 
    document.querySelector('#invoice_q').addEventListener('input', ()=>{
        const search_q = document.querySelector('#invoice_q').value
        let filteredData = transactionsData[0].filter((data)=>{
            return(data.invoice_number.includes(search_q))
        })
        transactionsTable.innerHTML=''
        displayTransactionTable(filteredData)
    })

    // transaction display
    function displayTransactionTable(data){
        data.forEach((data)=>{
            transactionsTable.innerHTML += `
            <tr>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>${new Date(data.issue_date).toDateString()}<small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>#${data.invoice_number}</small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>${data.products_purchased}</small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>${data.amount}</small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>${data.amount_paid}</small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'>${data.amount_due}</small></td>
                <td><small class='${data.payment_status === 'Partial'? "text-danger" : ''}'  >${data.user__username}</small></td>
                <td>
                    <span>
                        <a href="/finance/invoice/preview/${data.id}/" class="text-dark">
                            <i class='bx bx-show'></i>
                        </a>
                    </span>  
                </td>
            </tr>
        `
        })
    }
    
    // payments
    $.ajax({
        url: '{% url "finance:customer_payments_json" %}',
        type: 'GET',
        data: {'type': 'invoice_payments', 'customer_id': {{customer.id}}},
        }).done(function(response) {
            const data = response
            paymentsData.push(data)
            displaypaymentsTable(data)
    })

    // payment search 
    document.querySelector('#trans_q').addEventListener('input', ()=>{
        const search_q = document.querySelector('#trans_q').value
        let filteredData = paymentsData[0].filter((data)=>{
            return(data.invoice__invoice_number.includes(search_q))
        })
        paymentsTable.innerHTML=''
        displaypaymentsTable(filteredData)
    })

    // payment display
    function displaypaymentsTable(data){
        console.log(data)
        paymentsTable.innerHTML='';
        data.forEach((d)=>{
            paymentsTable.innerHTML += `
            
            <tr>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${new Date(d.payment_date).toDateString()}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>#${d.invoice__invoice_number}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${d.invoice__products_purchased}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${d.invoice__currency__symbol} ${d.invoice__amount}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${d.invoice__currency__symbol} ${d.amount_paid}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${d.invoice__currency__symbol} ${d.amount_due}</small></td>
                <td><small class='${d.invoice__payment_status === 'Partial'? "text-danger" : ''}'>${d.user__username}</small></td>
            </tr>
            `
        })
    }

    // deposits
    function getDepositsData(){
        $.ajax({
            url: '{% url "finance:deposits" %}',
            type: 'GET',
            data: {'customer_id': {{customer.id}}},
            }).done(function(response) {
                const data = response
                console.log(data)
                depositData.push(data)
        })
    }
    getDepositsData()

    
    // deposits search
    document.querySelector('#deposit_q').addEventListener('input', ()=>{
        let data = [];

        const search_q = document.querySelector('#deposit_q').value
        let filteredData = depositData[0].filter((data)=>{
            return(data.payment_reference.includes(search_q))
        })
        //depositTable.innerHTML = '';
        data.push(filteredData)
        displayDepositTable(data);
    })

    
    function displayDepositTable(data){
        const depositTable = document.getElementById(`${tableName}`);
        depositTable.innerHTML = '';

        data[0].forEach((data)=>{
            if(data.currency__symbol === tableName && data.customer_account__account__customer_id === {{ customer.id }} ){
                depositTable.innerHTML += `
                <tr>
                    <td><small>${new Date(data.date_created).toDateString()}</small></td>
                    <td><small>${data.payment_reference}</small></td>
                    <td><small>${data.amount}</small></td>
                    <td><small>${data.payment_method}</small></td>
                    <td><small>${data.reason}</small></td>
                    <td><small>${data.cashier__username}</small></td>
                    <td>
                        <small><a class='bx bx-edit btn' href='/finance/customer/edit/deposit/${data .id}/'></a></small>
                        <small><button class='btn btn-secondary btn-sm' data-id=${data.id} onclick='toggleRefundModal(this)'>refund</button></small>
                    </td>
                </tr>
            `
            }
        })
    }

    let refundId = '';
    const refundSubmitBtn = document.getElementById('id_refund_submit_btn');
    const refundError = document.getElementById('id_refund_error');

    refundSubmitBtn.addEventListener('click', ()=>{
        submitRefundData()
    })
    
    function toggleRefundModal(el){
        refundModal.show()
        refundId =  el.dataset.id;
    }

    async function submitRefundData() {
        const data = {
            'amount':parseFloat(document.getElementById('id_refund_amount').value),
        }
        
        try {
            const response = await fetch(`/finance/customer/refund/deposit/${refundId}/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify(data),
            });
    
            const rData = await response.json();

            if(rData.success){
                refundModal.hide()
                depositSuccessModal.show()
                setTimeout(()=>{
                    depositSuccessModal.hide()
                    getDepositsData()
                }, 200)
            }else{
                refundError.textContent=rData.message;
            }
    
        } catch (error) {
            refundError.textContent=error;
        }
    }


    // deposit amount validation
    depositAmount.addEventListener('input', () => {
        const amount = parseFloat(depositAmount.value.trim());
        if (isNaN(amount) || amount <= 0) {
          depositError.textContent = 'Deposit amount must be a positive number and can not be zero.';
          submitBtn.disabled = true;
        } else {
          depositError.textContent = '';
          submitBtn.disabled = false;
        }
    });

    submitBtn.addEventListener('click', ()=>{
        submitDepositData()
    })
      
    // post deposit data
    async function submitDepositData() {
        let customer_id = {{ customer.id }}
        const data = {
            'customer_id': {{ customer.id }},
            'amount':parseFloat(document.getElementById('id_amount').value),
            'currency':document.getElementById('id_currency').value,
            'payment_method': document.getElementById('id_payment_method').value,
            'reason': document.getElementById('id_reason').value,
            'payment_reference': document.getElementById('id_payment_reference').value
        }
        
        try {
            const response = await fetch(`/finance/deposits/create-deposit/${customer_id}/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify(data),
            });
    
            const rData = await response.json();

            if(rData.success){
                depositModal.hide()
                depositSuccessModal.show()
                setTimeout(()=>{
                    window.location.reload()
                }, 300)
            }else{
                depositError.textContent=rData.message;
            }
    
        } catch (error) {
            depositError.textContent=error;
        }
    }
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      } 

</script>
{% endblock content %}
