{% extends "base.html" %}
{% load static%}
{% block title%} Expenses {% endblock%}
{% block content %}
<div class="finance d-flex">
    <div class="px-2 main-content ">
        <div class="finance-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center p-2 border rounded">
                <div class="d-flex">
                    <div>
                        <a href='{% url 'finance:finance'%}' class='btn btn-primary btn-sm'>
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                    </div>
                    <div class='px-1'> 
                        <a href='{% url 'finance:expense_create' %}' class="btn btn-light btn-sm" >
                            <i class='bx bx-plus'></i>
                            Expenses
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class='mt-3 mb-3 d-flex justify-content-between align-items-center'>
            <div class='mt-2'>Expenses List</div>
            {% comment %} <div>
                <button class='pdf-gen btn btn-secondary btn-sm'>
                    Expenses Report
                    <i class='bx bx-file text-light'></i>
                </button>
            </div> {% endcomment %}
        </div>
        
        <table id="expenseTable" class="table border rounded p-2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Done by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr style='color: #6c757d;'>
                        <td>{{expense.date}}</td>
                        <td>{{expense.description}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category.name}}</td>
                        <td>{{expense.user.username}}</td>
                        <td>
                            <span>
                                {%  if request.user.role == 'admin' %}
                                    <a href="{% url 'finance:expense_update' expense.id%}" class="btn btn-light btn-sm text-primary">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                {% else %}
                                    <button disable>
                                        <a href="{% url 'finance:expense_update' expense.id%}" class="btn btn-light btn-sm text-primary">
                                            <i class='bx bx-edit-alt'></i>
                                        </a>
                                    </button>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="sidebar mt-2 px-2 border rounded ">
        <h6 class="mt-1">Filter</h6>
        {% include 'components/filters.html'%}
    </div>

    <div class="expense-modal hidden">
        <div class="modal-content">
            {% include 'finance/expenses/add_expense.html'%}
        </div>
    </div>
    <div class="overlay hidden"></div>
</div>
{% endblock content %}
