{% load static%}
{% block content %}
<div class='payment'>
    <div class="bg-secondary text-light border d-flex justify-content-between align-items-center rounded w-100 py-2">
        <h4 class='px-2' id="id_customer_details">Payment</h4>
       <div class='px-2'>
            <button class=" closebtn btn-close text-light btn-sm"></button>
       </div>
    </div>
    <div class='row mt-2'>
        <div class='col-8'>
            <h5 class="mb-3">Payment Method</h5>
            <div class='button-choose d-flex w-100'>
                <div class="w-100">
                    <button class='btn btn-success btn-lg w-100' id="id_cash_btn">
                        Full Payment
                    </button>
                </div>
                <span class="px-2"></span>
                <div class="w-100">
                    <button class='btn btn-danger btn-lg w-100' id="id_credit_btn">
                        Credit Payment
                    </button>
                </div>
            </div>
            <div class='payment-form mt-3'>
                <div class='mb-2 d-flex align-items-center'>
                    <label for="id_amount_paid" class='bg-light'>Pay Amount</label>
                    <input
                        id='id_amount_paid'
                        name='amount'
                        type="number"
                        class='form-control'
                     />
                </div>

                <div class="credit border rounded p-2 mb-2 hidden">
                    <p>Credit details</p>
                    <div class="mb-2">
                        <label for="id_date">Credit Duration</label>
                        <input
                            type="number"
                            class="form-control"
                            placeholder="number of days"
                            id="id_days"
                            value="0"
                        />
                    </div>
                </div>
                <div class='mb-3 d-flex align-items-center bg-light'>
                    <label for="id_note p-1" class='bg-light'>Note</label>
                    <textarea
                        id='id_note'
                        rows='1'
                        name='note'
                        class='form-control'
                    ></textarea>
                </div>

                <div class="payment-btn d-flex justify-content-end">
                    <span class="btn btn-danger btn-sm">
                        close
                    </span>
                    <span class="px-2"></span>
                    <span class="btn btn-success btn-sm" onclick="processCart()">
                        pay
                    </span>
                </div>
            </div>
        </div>
        <div class='col-4'>
            <h5>Order details</h5>
            <table class="table">
                <tbody id="order_details"></tbody>
                <tfoot id="oder_details_foot">
                    <tr>
                        <td>Subtotal</td>
                        <td class="d-flex justify-content-end" id="id_subtotal"></td>
                    </tr>
                    <tr>
                        <td id="id_dcp"></td>
                        <td class="d-flex justify-content-end" id="id_disc">0.00</td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td class="d-flex justify-content-end" id="id_vat">0.00</td>
                    </tr>
                    <tr>
                        <td>Delivery Charge</td>
                        <td class="d-flex justify-content-end" id="id_delivery_charge">0.00</td>
                    </tr>
                    <tr>
                        <td>Interest Amount</td>
                        <td class="d-flex justify-content-end" id="id_interest_amount">0.00</td>
                    </tr>
                    <tr>
                        <td>Previous Due</td>
                        <td class="d-flex justify-content-end" id="previous_due">0.00</td>
                    </tr>
                    <tr>
                        <td>Paid Amount</td>
                        <td class="d-flex justify-content-end" id="id_paid_amount">0.00</td>
                    </tr>
                    <tr>
                        <td>Due Amount</td>
                        <td class="d-flex justify-content-end" id="id_due_amount">0.00</td>
                    </tr>
                    <tr>
                        <td>Balance</td>
                        <td class="d-flex justify-content-end" id="id_balance">0.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock content %}