{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Techcity Pos System"/>
    <meta name="Author"content="casper moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">
        <link href='{% static "assets/boxicons/css/boxicons.css"%}' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock css %}

    <script src="{% static 'css/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <title>
        {% block title %}Techcity POS{% endblock title %}
    </title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }

    thead th {
        background-color: #f9f9f9;
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    tbody td {
        padding: 12px 15px;
        border-bottom: 1px solid #eee;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    .payment-modal{
        background-color: #fff;
        width: 100%;
        max-width: 100%;
        max-height: 100%; 
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto; 
        padding: 20px;
        position: relative;
    
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
/*        background-color: rgba(0, 0, 0, 0.5);*/
        display: none; 
        z-index: 1;
    }

    .modal-content {
        overflow-y: auto;  
    }

    .payment-modal{
        margin: 0px;
    }

</style>
<body class="techcity">
    <div class='pos'>
        <div class="top-bar">
            <div class="nav-bar"> {% include "base/pos_navbar.html" %} </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class='row'>
            <div class="aside-bar col-2 text-light"> {% include "base/aside.html" %} </div>
            <div class='col-6'>
                <div class='mt-2 main-pos-area  px-2'>
                    <div class="d-flex align-content-center justify-content-between w-100">
                        <div class="d-flex align-items-center product-search">
                            <div class='list-toggle'>
                                <button id="menu-type" class="btn border bx bx-menu"></button>
                            </div>
                            <div class="px-1" ><i class="bx bx-search"></i></div>
                            <div><input type="search" name="q" class="form-control"  id='id_search' placeholder="search..."/></div>
                            <div class="">
                                <button class="btn btn-light btn-sm border" id="out_of_stock">Out of Stock</button>
                            </div>
                        </div>
                        <div>
                            <select name='category' id="id_category" class="form-select">
                                <option value="0">All Categories</option>
                                {% for category in categories%}
                                    <option value='{{ category.id }}'>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="products mt-2">
                        {% include 'components/loader.html' %}
                        <div class="row" id="product-list"></div>
                    </div>
                </div>
            </div>

            <div class='col-4 d-flex'>
                <div class='add-items-area w-100'>
                    <div class='top d-flex w-100 align-items-center justify-content-between'>
                        <div class="search-bar">
                            <select type="text" id="search-input">
                                <option value=''></option>
                            </select>
                            <div class="avatar-container">
                                <img src="{% static 'assets/avatar.png' %}" alt="Avatar" class="avatar"> 
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <div>
                                <small>Due</small>
                            </div>
                            <div id="due_balance" class='d-flex flex-column'></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class=" p-2 btn btn-light w-100 btn-sm" id='id_add_client'>
                                <i class="bx bx-plus"></i>
                                Customer
                            </button>
                        </div>
                    </div>

                    <small class=" text-danger id_client_error"></small>

                    <table class="table table-responsive table-sm">
                        <tr class="border">
                            <th>Quanity</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </table>
                    <div class="table-items border bg-light table-scroll">
                        <table class="table table-responsive table-sm">
                            <tbody id="cart_items"></tbody>
                        </table>
                    </div>
                    <div class='additional-costs border p-2 d-flex justify-content-between w-100'>
                        <div class='w-50'>
                            <label for="id_discount"><small>Discount</small></label>
                            <input 
                                id='id_discount'
                                type='number'
                                class='form-control text-center'
                                placeholder='Discount'
                                value=0
                            />
                        </div>
                        <span class='px-2'></span>
                        <div class='w-50'>
                            <label for="id_dc_input"><small>Delivery Charge</small></label>
                            <input 
                                id='id_dc_input'
                                type='number'
                                class='form-control text-center'
                                placeholder='Delivery Charge'
                                value=0
                            />
                        </div>
                    </div>
                    <div class='totals border d-flex aling-items-center table-responsive table-sm'>
                        <table class="table">
                            <tr>
                                <td>Total Amount</td>
                                <td></td>
                                <td></td>
                                <td id="id_total_amount">0.00</td>
                            </tr>
                            <tr>
                                <td>Tax Amount</td>
                                <td></td>
                                <td></td>
                                <td id="id_vat_amount">0.00</td>
                            </tr>
                            <tr>
                                <td>Payable Amount</td>
                                <td></td>
                                <td></td>
                                <td id="id_payable">0.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class=" w-100 payment-buttons d-flex justify-content-between mt-3">
                        <div class="w-100">
                            <button class="btn btn-secondary w-100"id='id_pay' >
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-modal hidden">
        <div class="modal-content">
            {% include 'Pos/pay_modal.html' %}
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {% include 'Pos/error_modal.html' %}
            </div>
        </div>
    </div>

    </div>
    
    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'Pos/add_client.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="endOfDayModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'end_of_day_modal.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="receiptModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'Pos/printable_receipt.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loaderModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class='bx bx-check-circle h1'></i>
                    <h2>Invoice Successfully Processed</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class='bx bx-check-circle h3'></i>
                    <h4>Customer Successfully Created</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qouteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class='bx bx-check-circle h1'></i>
                    <h4>Qoutation Successfully Created</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="chooseCustomerModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Choose Customer first</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay hidden"></div>
</body>

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script>
    
let cart = [];
let data = [];
let respData = [];
let currencyData = [];
const customersData = [];
let customerBalanceData = [];

let holdStatus = false;

let bal = 0;
let previousDue = 0
let discount_amount = 0;
let delivery_amount = 0;
let payable_amount = 0;
let vat_amount = 0;
let amount_paid = 0;
let paymentMethod = 'cash'
let menuName = '';
let clientName = '';
let initialCurrencyValue = '';
let addedToCartProduct = [];
let paymentTerms = 'cash';
let sub = 0
let vatAmount

const layby_dates = []

let error = document.querySelector('#error_message')

const currencySelect = document.querySelector('#currency')
const endOfDayModal = new bootstrap.Modal(document.getElementById('endOfDayModal'));
const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
const receiptModal = new bootstrap.Modal(document.getElementById('receiptModal'));
const loaderModal = new bootstrap.Modal(document.getElementById('loaderModal'));
const qouteModal = new bootstrap.Modal(document.getElementById('qouteModal'));
const chooseCustomerModal= new bootstrap.Modal(document.getElementById('chooseCustomerModal'))

const customerModal = new bootstrap.Modal(document.getElementById('customerModal'));
const menuType = document.getElementById('menu-type');
const ostBtn = document.getElementById('out_of_stock');

const tableEl = document.querySelector('#invoiceTable');
const loaderSpin = document.querySelector('#loader');
const previousDueEl = document.querySelector('#previous_due');
const holdBtn = document.getElementById('id_hold');

holdBtn.addEventListener('click', () => {
        holdStatus = true;
        processCart(holdBtn);
})

// set receipt items
function setReceiptItems(){
    const receiptTableBody = document.querySelector('#receiptTable');
    const prvDue = document.getElementById('previous_due');
    const tpreviousDue = document.getElementById('tpreviousDue')

    tpreviousDue.textContent = prvDue.textContent
    
    receiptTableBody.innerHTML = '';

    // Populate the table with invoice items
    cart.forEach(({ quantity, product_name, price, product_description }) => {
        const newRow = receiptTableBody.insertRow();
            newRow.insertCell().textContent = `${product_name}`
            newRow.insertCell().textContent = `(${product_description})`;
            newRow.insertCell().textContent = quantity;
            newRow.insertCell().textContent = `${price}`
            newRow.insertCell().textContent = `${quantity * price}`;
        });
}

const laybyButton = document.getElementById("layby");
const installmentButton = document.getElementById("Installment");
const cashButton = document.getElementById("cash");
const payLaterBtn = document.getElementById('pay_later');
const laybyTerms = document.querySelector(".layby-terms");
const payLaterTerms = document.querySelector(".paylater");
const monthlyInstallments = document.querySelector(".monthly-installments");

laybyTerms.style.display = "none";
monthlyInstallments.style.display = "none";
payLaterTerms.style.display = "none";

const amountPaidInput = document.getElementById('id_amount_paid');
const totalBalanceDueElement = document.getElementById('total_balance_due');
const balanceDueElement = document.getElementById('id_balance');
const balanceLabel = document.getElementById('balance_label');
const paymentButtons = document.querySelectorAll(".btn-terms");

let paymentTerm = 'cash'; 

document.getElementById('payment_modal_btn').addEventListener('click', () => {
    document.querySelector('.payment-modal').classList.add('hidden');
})

function calculateBalance() {
    let total = parseFloat(totalBalanceDueElement.textContent.split(' ')[1]); 
    let amountPaid = parseFloat(amountPaidInput.value) || 0;
    let balance;

    if (paymentTerm === 'cash') {
        balance = amountPaid - total; 
        balanceLabel.textContent = 'Change';
        balanceDueElement.textContent = Math.abs(balance).toFixed(2);
    } else {
        balance = total - amountPaid; 
        balanceLabel.textContent = 'Amount Due';
        balanceDueElement.textContent = balance.toFixed(2);
    }
}

amountPaidInput.addEventListener('input', calculateBalance);
paymentButtons.forEach(button => {
    button.addEventListener('click', function () {
        paymentTerm = this.id === 'cash' ? 'cash' : 'layby_installment';

        paymentButtons.forEach(btn => btn.classList.remove("active"));
        this.classList.add("active");

        calculateBalance();
    });
});

function handlePaymentTypeClick(selectedButton) {
    
    cashButton.classList.remove("active");
    laybyButton.classList.remove("active");
    installmentButton.classList.remove("active");

    selectedButton.classList.add("active");

    if (selectedButton.id === "layby") {
        laybyTerms.style.display = "block";
        monthlyInstallments.style.display = "none";
        payLaterTerms.style.display = "none";
    } else if (selectedButton.id === "Installment") {
        laybyTerms.style.display = "none";
        monthlyInstallments.style.display = "block";
        payLaterTerms.style.display = "none";
    } else if (selectedButton.id === "cash") {
        laybyTerms.style.display = "none";
        monthlyInstallments.style.display = "none";
        payLaterTerms.style.display = "none";
    } else if (selectedButton.id === "pay_later") {
        laybyTerms.style.display = "none";
        monthlyInstallments.style.display = "none";
        payLaterTerms.style.display = "block";
    }
}

payLaterBtn.addEventListener('click', () => {
    handlePaymentTypeClick(payLaterBtn);
    paymentTerms = 'pay later';
})

laybyButton.addEventListener("click", function () {
    handlePaymentTypeClick(laybyButton);
    paymentTerms = 'layby';
});

installmentButton.addEventListener("click", function () {
    handlePaymentTypeClick(installmentButton);
    paymentTerms = 'installment';
});

function handlePaymentMethodClick(selectedButton) {
    paymentButtons.forEach(button => button.classList.remove("active"));
    selectedButton.classList.add("active");
}

const paymentMethodButtons = document.querySelectorAll(".payment-method button");

function toggleActiveButton(selectedButton) {
    paymentMethodButtons.forEach(button => {
        button.classList.remove("active");
    });
    selectedButton.classList.add("active");
}

paymentMethodButtons.forEach(button => {
    button.addEventListener("click", function () {
        toggleActiveButton(button);
        if (button.dataset.name === 'cash') { 
            paymentMethod = button.dataset.name;
        } else if (button.dataset.name === 'ecocash'){
            paymentMethod = button.dataset.name;
        } else if (button.dataset.name === 'bank'){
            paymentMethod = button.dataset.name;
        }
    });
    
});

const receipt = () =>{
    const id_amount_paid = document.getElementById('id_amount_paid');
    const depositedAmount = document.getElementById('id_deposited');
    const period = document.getElementById('id_period')
    const availableBalance = document.getElementById('availableBalance')
    const previousDue = document.getElementById('previous_due')
    const termsButtons = document.querySelectorAll('.btn');

    let value;
    let amountDue = previousDue.textContent.split('')[0];

    console.log(previousDue.textContent, amountDue, 'here')
    // default if they is previous due
    

    period.addEventListener('input', ()=>{
        if(period.value < 0){
            Swal.fire({
                icon:'error',
                text:'Period interval can be less than 0', 
                title: 'error'
            })
            return;
        }
        displayDueDates(period.value)
    })

    id_amount_paid.addEventListener('input', ()=>{
        value = id_amount_paid.value;
        depositedAmount.textContent = value;

        const amountDue = parseFloat(previousDue.textContent.split(' ')[1]);
        console.log((parseFloat(sub) + parseFloat(vatAmount)) + amountDue - value)
       
        // availabe balance 
        availableBalance.textContent = (parseFloat(sub) + parseFloat(vatAmount)) + amountDue - value || 0;
        
    })

    const calculateNextDueDate = (period) => {
        const todayDate = new Date(); 
        const dueDates = []; 

        for (let i = 1; i <= period; i++) {
            const nextDueDate = new Date(todayDate); 
            nextDueDate.setDate(todayDate.getDate() + 30 * i); 
            layby_dates.push(nextDueDate);
            dueDates.push(nextDueDate); 
        }

        return dueDates;
    };

    
    const displayDueDates = (period) => {
        const dueDates = calculateNextDueDate(period); // Get due dates
        const paymentDateElement = document.getElementById('payment_date'); // Get the <p> element

        let dateFields = ''; 

        dueDates.forEach((date, index) => {
            // Format the date as yyyy-mm-dd for the date input field
            const formattedDate = date.toISOString().split('T')[0];

            // Create input fields for each payment date
            dateFields += `
                <label for="payment_date_${index}">Payment ${index + 1}:</label>
                <input type="date" id="payment_date_${index}" value="${formattedDate}">
                <br>
            `;
        });

        paymentDateElement.innerHTML = dateFields; 
    };
}

receipt()

document.addEventListener("DOMContentLoaded", function() {
    const currencySelect = document.getElementById("currency");
    initialCurrencyValue = currencySelect.value; 
    const data = {id:initialCurrencyValue}
    $.ajax({
        url: '{% url "finance:currency_json" %}',
        type: 'GET',
        data: data,
        }).done(function(response) {
            const data = response
            currencyData = []
            currencyData.push(data)
    })
});
  
setTimeout(()=>{
    loaderSpin.classList.add('hidden');
    loaderSpin.classList.remove('d-flex')
}, 300)

$(document).ready(function() {
    $('#search-input').select2(
        {placeholder: 'Select Client'}
    )
    .on('change', function (e){
        clientName = $(this).val()
        fetchCustomerAccount(clientName)
    })
    
})

ostBtn.addEventListener('click', ()=>{
    if( menuName !== 'out of stock'){
        menuName = 'out of stock';
    }else{
        menuName = '';
    }
    fetchData()
});

menuType.addEventListener('click', ()=>{
    if(menuType.classList.contains('bx-list-ul')){
        menuType.classList.remove('bx-list-ul');
        menuType.classList.add('bx-menu');
        menuName = 'tiles'
    }else{
        menuType.classList.add('bx-list-ul');
        menuType.classList.remove('bx-menu');
        menuName = 'list'
    }
    fetchData();
});

document.querySelector('#end').addEventListener(
    'click', ()=>{
        endOfDayModal.show()
    }
)

currencySelect.addEventListener(
    'change', ()=>{
        const data = {id:currencySelect.value}
        $.ajax({
            url: '{% url "finance:currency_json" %}',
            type: 'GET',
            data: data,
            }).done(function(response) {
                const data = response
                console.log(data)
                currencyData = []
                currencyData.push(data)
        })
    }
)

//credit
const cashBtn = document.querySelector('#id_cash_btn')
const bankBtn = document.querySelector('.bank')
const ecocash= document.querySelector('.ecocash')


// modals
const overlay = document.querySelector(".overlay");
const modal = document.querySelector('.payment-modal');
const clientModal = new bootstrap.Modal(document.querySelector('#clientModal'));
const closeModalBtn = document.querySelectorAll(".btn-close");
const closebtn = document.getElementById('closebtn')

closebtn.addEventListener('click', ()=>{
    modal.classList.add('hidden');
    overlay.classList.add('hidden');
})


document.querySelector('#id_pay').addEventListener(
    'click', ()=>{
        if(clientName){
            updateCartDisplay();
            setReceiptItems()
            modal.classList.remove('hidden')
            overlay.classList.remove('hidden')
        }else{
            Swal.fire({
                icon:'error',
                text:'Choose Customer First.',
                title:'error'
            })
        }
    }
)

document.querySelector('#id_add_client').addEventListener(
    'click',()=>{
        clientModal.show()
    }
)

closeModalBtn.forEach((btn)=>{
    btn.addEventListener(
        'click', ()=>{
            clientModal.classList.add('hidden')
            modal.classList.add("hidden");
            overlay.classList.add("hidden");
        }
    )
})

//search filters and fetching data
const productListContainer = document.getElementById('product-list');
const categorySelect = document.getElementById('id_category');
const search = document.getElementById('id_search');

search.addEventListener('input', ()=>{
    fetchData(search.value)
})
   
categorySelect.addEventListener('change', function() {
    const selectedCategoryId = this.value;
    fetchData(parseInt(selectedCategoryId))
});

async function fetchData (param){

    let url = '/inventory/product/list/';

    if (typeof param ==="number" & param !== 0) {
        url += `?category=${param}`; 
    }else if (typeof param === "string"){
        url += `?q=${param}`; 
    }
   
    try {
        const response = await fetch(url);

        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        const products = await response.json();
        productListContainer.innerHTML = ''; 
        
        displayProducts(products);
        
    } catch (error) {
        console.error('Error fetching products:', error);
        productListContainer.innerHTML = '<p class="error-message">Error loading products. Please try again later.</p>';
    } finally {
    }
}

fetchData()

function cartButton(){
    const cartBtn = document.querySelector('#id_pay')
    if(cart.length==0){
        cartBtn.disabled = true
    }else{
        cartBtn.disabled = false
    }
}
cartButton()

function displayProducts(products) {
    productListContainer.innerHTML = '';
    products.forEach(product => {
        if (menuName === 'tiles' || menuName === '') {
            if (product.quantity > 0) {
                const productDiv = document.createElement('div');
                productDiv.className = 'col-3';
                productDiv.innerHTML = `
                    <div class="card" id='id_product_card' data-product='${JSON.stringify(product)}'>
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" id="id_add_to_cart" data-product='${product.inventory_id}' onclick='fetchProductData(this)'>
                            <div class="d-flex align-items-center mb-3">
                                <i style="font-size:30px" class='bx bx-barcode'></i>
                            </div>
                            <p><small class="fw-bold">${product.product_name}</small></p>
                            <p><small class="text-muted">${product.description}</small></p>
                            <p><small class="text-muted">[${product.quantity}]</small></p>
                            <p><small class="text-muted">USD${product.price}</small></p>
                        </div>
                    </div>
                `;
                productListContainer.appendChild(productDiv); 
            }
        } else if (menuName === 'out of stock') {
            if (product.quantity <= 0) {
                const productDiv = document.createElement('div');
                productDiv.className = 'col-3';
                productDiv.innerHTML = `
                    <div class="card bg-danger" id='id_product_card' data-product='${JSON.stringify(product)}'>
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" id="id_add_to_cart" data-product='${product.inventory_id}' onclick='fetchProductData(this)'>
                            <div class="d-flex align-items-center mb-3">
                                <i style="font-size:30px" class='bx bx-barcode'></i>
                            </div>
                            <p><small class="fw-bold">${product.product_name}</small></p>
                            <p><small class="text-muted">${product.description}</small></p>
                            <p><small class="text-muted">[${product.quantity}]</small></p>
                            <p><small class="text-muted">USD${product.price}</small></p>
                        </div>
                    </div>
                `;
                productListContainer.appendChild(productDiv); 
            }
        } else {
            if (!document.querySelector('ul.product-list')) {
                const productList = document.createElement('ul');
                productList.className = 'list-unstyled product-list';
                productListContainer.appendChild(productList);
            }
            
            const productListItem = document.createElement('li');
            productListItem.id = 'id_add_to_cart';
            productListItem.setAttribute('data-product', product.inventory_id);
            productListItem.setAttribute('onclick', 'fetchProductData(this)');
            productListItem.className = `product-list-item ${product.quantity <= 0 ? 'text-danger' : ''}`;
            productListItem.innerHTML = `
                <i class='bx bx-barcode'></i>
                <small class="px-1 fw-bold">${product.product_name}</small>
                <small class="text-muted">${product.description}</small>
                <small class="text-muted">USD${product.price}</small>
                <small class="text-muted">[${product.quantity}]</small>
            `;
            document.querySelector('ul.product-list').appendChild(productListItem);
            return;
        }
    });
}


// Cart 
async function fetchProductData (product){
    console.log(initialCurrencyValue)
    if(initialCurrencyValue){
        const id = product.dataset.product

        let url = `/inventory/product/list/?product=${id}`;

        try {
            const response = await fetch(url);

            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            const product = await response.json();
            console.log('product', product)
            addItem(product);
            addedToCartProduct = [];
            addedToCartProduct.push(product);
            
        } catch (error) {
            console.error('Error fetching products:', error);
            productListContainer.innerHTML = '<p class="error-message">Error loading products. Please try again later.</p>';
        } finally {
        }
    }else{
        errorModal.show()
        error.textContent=''
        error.textContent=`Choose Currency`
    }
    
}

function generateUniqueId() {
    return Math.floor(Math.random() * 1000000000).toString(36);
  }

function addItem(product) {
    const existingItem = cart.find((item) => item.inventory_id === product[0].inventory_id)

    if (existingItem) {
        existingItem.quantity += 1;
    } else {
        const newTransfer = {
        id:generateUniqueId(),
        inventory_id:product[0].inventory_id, 
        product_name: product[0].product_name,
        product_description: product[0].description,
        quantity:1,
        price:`${product[0].price * parseFloat(currencyData[0][0]?.exchange_rate)}`
        };
        cart.push(newTransfer);
    }
    updateCartDisplay(); 
    cartButton()
    totals()
}

function totals(){

    let totalAmount = calculateTotalAmount(cart);
    let vatAmount = calculateVAT(totalAmount);
    let discount = $('#id_discount').val()
    let delivery = parseFloat($('#id_dc_input').val())
    
    let payable = totalAmount - vatAmount + delivery;
    
    // validate for not a number
    if (delivery >= 0){
        delivery = delivery
    }else{delivery = 0}

    delivery_amount = delivery
    vat_amount = vatAmount

    if(discount === 0){
        document.getElementById("id_total_amount").textContent = `${ currencyData[0][0].symbol + ' ' + totalAmount.toFixed(2)}`;
        document.getElementById("id_vat_amount").textContent =`${ currencyData[0][0].symbol + ' ' + vatAmount.toFixed(2)}`;
        document.getElementById('id_payable').textContent = `${ currencyData[0][0].symbol + ' ' + payable.toFixed(2)}`;

        payable_amount = payable
        discount_amount = discount

        updateTfoot(vatAmount, totalAmount, delivery, payable)

    }else{
        totalAmount = totalAmount - discount
        console.log(totalAmount)
        discountAmount = calculateTotalAmount(cart) - totalAmount
        vatAmount = totalAmount * 0.15
        payable = totalAmount + vatAmount + delivery;
        console.log(totalAmount, vatAmount,  delivery, payable)
        
        vat_amount = vatAmount
        payable_amount = payable
        discount_amount = discountAmount

        document.getElementById("id_total_amount").textContent = `${ currencyData[0][0].symbol + ' ' + totalAmount.toFixed(2)}`;
        document.getElementById("id_vat_amount").textContent =`${ currencyData[0][0].symbol + ' ' + vatAmount.toFixed(2)}`;
        document.getElementById('id_payable').textContent = `${ currencyData[0][0].symbol + ' ' + payable.toFixed(2)}`;

        updateTfoot(vatAmount, totalAmount, payable)
    }
}

function calculateTotalAmount(cart) {
   let total = cart.reduce((total, item) => total + item.price * item.quantity, 0);
   return total.toFixed(2)
}

function calculateVAT(totalAmount) {
    const vatRate = 0.15; 
    return totalAmount * vatRate;
}

// events for discount and delivery charge
document.querySelector('#id_discount').addEventListener(
    'input', ()=>{
        totals()
    }
)

document.querySelector('#id_dc_input').addEventListener(
    'input', ()=>{
        totals()
    }
)

function updateCartDisplay() {
    const cartItemsList = document.getElementById("cart_items");
    cartItemsList.innerHTML = ""; 
  
    let total = 0;
    cart.forEach((item) => {
      const row = document.createElement("tr");
      row.innerHTML = `
        <td>
            <small class='d-flex align-items-center'>
                <small class='bx bx-trash-alt text-danger' data-id=${item.id} onclick="removeItem(this);"></small>
                <small><input class='form-control mx-2' type='number' data-id=${item.inventory_id} value='${item.quantity}' oninput='addOrDreceaseQuantity(this);' style='width:4rem;'/></small>
            </small>
        </td>
        <td><small>${item.product_name}</small></td>
        <td><small>${ currencyData[0][0].symbol + ' ' + parseFloat(item.price).toFixed(2)}</small></td>
        <td><small>${currencyData[0][0].symbol + ' ' + (parseInt(item.quantity) * parseFloat(item.price)).toFixed(2)}</small></td>
      `;
      cartItemsList.appendChild(row);
    });
  }

  function addOrDreceaseQuantity(sm) {
    const item_id = parseInt(sm.dataset.id);
    const updatedQuantity = parseInt(sm.value);

    if (!updatedQuantity) return;

    const existingItem = cart.find(item => item.inventory_id === item_id);

    if (existingItem) {
        existingItem.quantity = updatedQuantity;
        updateCartDisplay();
        cartButton();
        totals();
    }
}

// update tfoot
function updateTfoot(vat, totalAmount, payable){
    let totalDueAmount = 0;
    const symbol = currencyData[0][0].symbol;
    
    if(bal>0){
        totalDueAmount = parseFloat(bal.toFixed(2)) + parseFloat(payable.toFixed(2)); 
    }else{
        totalDueAmount = parseFloat(payable.toFixed(2)); 
    }

    const totalBalanceDue = totalDueAmount - parseFloat(amount_paid.toFixed(2));

    //sub = calculateTotalAmount(cart)
    //vatAmount = vat.toFixed(2)

    document.querySelector('#id_subtotal').textContent = `${ symbol + ' ' + calculateTotalAmount(cart) }`
    document.querySelector('#id_vat').textContent = `${ symbol + ' ' + vat.toFixed(2) }`
    // document.querySelector('#id_due_amount').textContent = `${ symbol + ' ' + payable.toFixed(2) }`
    document.querySelector('#id_balance').textContent = `${ symbol + ' ' + totalBalanceDue.toFixed(2) }`, 
    document.querySelector('#total_balance_due').textContent = `${symbol + ' ' + totalDueAmount.toFixed(2) }`

    // updateReceiptFooter(symbol, totalBalanceDue, totalDueAmount, payable)
}

function updateReceiptFooter(symbol, totalBalanceDue, totalDueAmount, payable){
    document.querySelector('#rid_due_amount').textContent = `${ symbol + ' ' + payable.toFixed(2) }`
    document.querySelector('#rid_balance').textContent = `${ symbol + ' ' + totalBalanceDue.toFixed(2) }`, 
    document.querySelector('#rtotal_balance_due').textContent = `${symbol + ' ' + totalDueAmount.toFixed(2) }`
}

const removeItem = (el) => {
    const id = el.dataset.id
    cart = cart.filter((item) => item.id !== id);
    updateCartDisplay();
    cartButton()
    totals()
}

// payment methods
document.querySelectorAll('.pm').forEach(button => {
    button.addEventListener('click', () => {
        if (button.dataset.name === 'cash') { 
            paymentMethod = button.dataset.name;
        } else if (button.dataset.name === 'ecocash'){
            paymentMethod = button.dataset.name;
        } else if (button.dataset.name === 'bank'){
            paymentMethod = button.dataset.name;
        }else if (button.dataset.name === 'paylater'){
            paymentMethod = button.dataset.name;
        }
    });
});

async function processCart(el) {

    const amountReceived = document.getElementById('id_amount_paid');

    console.log(paymentTerms, Number((amountReceived.value)))

    if (!holdStatus) {
        if (Number((amountReceived.value) <= 0) && (paymentTerms === 'cash')) {
            Swal.fire({
                icon: 'Error',
                text: 'Please amount cant be zero when payment its cash',
                title: 'Error'
            }).then(() => {
                amountReceived.focus()
            })
            return;
        }
    }
    const data = [
        {
            subtotal: calculateTotalAmount(cart),
            currency: currencyData[0][0].id,
            amount_paid: parseFloat(amountReceived.value) || 0.00,
            client_id: clientName,
            payable: payable_amount,
            vat_amount: vat_amount,
            payment_method: paymentMethod,
            recourring:document.getElementById('id_reoccuring').checked,
            paymentTerms: paymentTerms,
            hold_status: holdStatus,
            pay_later_date: document.getElementById('paylater_date').value
        }
    ];

    const url = el.dataset.name === 'qoutation' 
        ? "{% url 'finance:add_qoutation' %}" 
        : "{% url 'finance:create_invoice' %}";

    try {
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            body: JSON.stringify({
                data: data,
                items: cart,
                layby_dates: layby_dates
            }),
        });

        const result = await response.json();

        console.log(result)

        if (result.success) {
            cart = [];
            updateCartDisplay();

            if (el.dataset.name === 'qoutation') {
                qouteModal.show();
                modal.classList.add('hidden');
                overlay.classList.add('hidden');

                setTimeout(() => {
                    qouteModal.hide();
                    window.location.href = `/finance/qoutation/preview/${result.qoute_id}`;
                }, 2000);

            } else {
                Swal.fire({
                    text: 'Proccessing Receipt',
                    icon: 'success',
                    title: 'Success'
                }).then(() => {
                    displayReceipt(result.invoice_id);
                })
            }
        } else if (result.hold){
            modal.classList.add('hidden');
            overlay.classList.add('hidden');
            Swal.fire({
                icon: 'success',
                text: result.message,
                title: 'success'
            })
        } else {
            console.log('Error:', result.message);
        }
    } catch (error) {
        console.error("Error during request:", error);
    }
}

async function displayReceipt(invoiceId) {
    try {
        const response = await fetch(`/finance/invoice/preview/json/${invoiceId}/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"),
            },
        });

        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }

        const data = await response.json();
        const { invoice, invoice_items: invoiceItems, lay_dates:dates} = data;
        const {
            invoice_number: invoiceNumber,
            amount: invoiceTotal,
            delivery_charge: deliveryCharge,
            discount_amount: discountAmount,
            vat: vatAmount,
            subtotal: subTotal,
            currency_symbol: currencySymbol,
            amount_paid: amountPaid,
            payment_terms: payment_terms
        } = invoice;

        console.log(data);

        let prvDue = parseFloat(document.getElementById('tpreviousDue').textContent.split(' ')[1]);

        console.log(prvDue)

        document.getElementById('rcp-payment')
        document.getElementById('rcp-pterms').textContent = payment_terms;
        document.getElementById('rcp-currency').textContent = currencySymbol;
        document.getElementById('rcp_amount_paid').textContent = currencySymbol + ' ' + amountPaid;
        document.getElementById('rcp_previous_due').textContent = currencySymbol + ' ' + prvDue;
        document.getElementById('available_balance').textContent = currencySymbol + ' ' + (invoiceTotal - amountPaid + prvDue)
        document.getElementById('total_amount').textContent = currencySymbol + ' ' + invoiceTotal
        document.querySelector('#invoiceNumber').textContent = invoiceNumber;

        const receiptTableBody = document.querySelector('#receipt');
        receiptTableBody.innerHTML = '';

        // Populate the table with invoice items
        invoiceItems.forEach(({ quantity, item__product__name, unit_price, item__product__description, total_amount }) => {
            const newRow = receiptTableBody.insertRow();
            newRow.insertCell().textContent = `${item__product__name}`
            newRow.insertCell().textContent = `(${item__product__description})`;
            newRow.insertCell().textContent = quantity;
            newRow.insertCell().textContent = `${unit_price}`;
            newRow.insertCell().textContent = `${quantity * unit_price}`;
        });;

        // Update total amounts in the footer
        document.querySelector('#subTotalAmount').textContent = `${currencySymbol} ${subTotal}`;
        //document.querySelector('#totalAmount').textContent = `${currencySymbol} ${invoiceTotal}`;
        document.querySelector('#vatAmount').textContent = `${currencySymbol} ${vatAmount}`;
       //document.querySelector('#rid_paid_amount').textContent = `${currencySymbol} ${amount_paid.toFixed(2)}`;
        //document.querySelector('#rprevious_due').textContent = `${currencySymbol} ${previousDue.toFixed(2)}`;
        
        const laybyDateEl = document.getElementById('rcp_payment_dates')
        const laybyTerms = document.getElementById('laybyTerms');
        const installmentTerms = document.getElementById('installmentTerms');

        if (payment_terms === 'cash') {
            laybyTerms.style.display = 'none';
            installmentTerms.style.display = 'none';
        } else if (payment_terms === 'layby') {
            laybyTerms.style.display = 'block';
            installmentTerms.style.display = 'none';

            let ul = document.createElement('ul');
            document.getElementById('rcp_deposited').textContent = currencySymbol + ' ' + amountPaid;
            document.getElementById('rcp_period').textContent = Object.keys(layby_dates).length + '' + 'month(s)';

            layby_dates.forEach((date)=>{
                let li = document.createElement('li');
                li.textContent = new Date(date).toLocaleDateString()
                ul.appendChild(li)
            })

            laybyDateEl.appendChild(ul);

        } else if (payment_terms === 'installment') {
            laybyTerms.style.display = 'none';
            installmentTerms.style.display = 'block';
            document.getElementById('rcp_installment_deposit').textContent = currencySymbol + ' ' + amountPaid;
        }

        modal.classList.add("hidden");
        overlay.classList.add("hidden");

        Swal.fire({
            icon: 'success',
            title: 'success',
            text: 'Invoice successfully processed',
            timer: 2000,
            showConfirmButton: false
        }).then(()=>{
            loaderModal.hide();
            receiptModal.show();
        })

    } catch (error) {
        console.error("Error:", error);
        loaderModal.hide();
    }
}

  
// customer get and post
function submitClient() {
    const data = {
        name: document.getElementById('id_name').value,
        email: document.getElementById('id_email').value,
        phonenumber: document.getElementById('id_phonenumber').value,
        address: document.getElementById('id_address').value,
    };

    fetch("{% url 'finance:add_customer' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            clientModal.hide();
            Swal.fire({
              icon: 'success',
              title: 'success',
              text: 'Customer Succesfully Added.',
              timer: 2000,
              showConfirmButton: false
            }).then(()=>{
                customerModal.hide();
                fetchCustomers();
            })
        } else {
            Swal.fire({
              icon: 'error',
              title: 'error',
              text: data.message,
              timer: 2000,
              showConfirmButton: false
            })
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
}
    
async function fetchCustomers() {
    try {
        const response = await fetch('{% url "finance:customers" %}');

        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        const customers = await response.json();

        customersData.push(customers);
        displayCustomers(customers);

    } catch (error) {
        console.error('Error fetching customers:', error);
        productListContainer.innerHTML = '<p class="error-message">Error loading customers. Please try again later.</p>';
    }
}

fetchCustomers();

function displayCustomers(customers) {
    const cusElement = document.querySelector('#search-input');
    
    while (cusElement.options.length > 1) {
        cusElement.remove(1);
    }

    customers.forEach((customer) => {
        const option = document.createElement('option');
        option.value = customer.id;
        option.textContent = customer.name;
        cusElement.appendChild(option);
    });
}

async function fetchCustomerAccount(customerId) {
    try {
        const response = await fetch(`/finance/customer/account/json/${customerId}/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }

        const data = await response.json();

        const balanceEl = document.querySelector('#due_balance');
        balanceEl.innerHTML = '';

        const previousDueEl = document.getElementById('previous_due');
        const balance = data.find(item => item.currency__symbol === currencyData[0][0]?.symbol);

        if (balance.balance < 0) {
            bal = Math.abs(balance.balance); 
        } else {
            bal = -Math.abs(balance.balance); 
        }

        previousDue = bal;
        previousDueEl.textContent = balance ? `${balance.currency__symbol} ${bal}` : "0.00";

        data.forEach((balance) => {
            const balanceItem = document.createElement('small');
            balanceItem.id = 'id_due';
            balanceItem.className = 'text-danger';
            balanceItem.textContent = `${balance.currency__symbol} ${balance.balance}`;
            balanceEl.appendChild(balanceItem);
        });
        setCustomer(customerId)
        totals();
    } catch (error) {
        console.error('Error:', error);
    }
}

function setCustomer(customerId){
    // customer information
    const company = document.getElementById('customerCompany');
    const name = document.getElementById('customerName');
    const cell = document.getElementById('customerPhone');
    const email = document.getElementById('customerEmail')
    const address = document.getElementById('customerAddress')

    data = customersData[0].filter((cus)=> cus.id == customerId)

    name.textContent = data[0]?.name;
    name.textContent = data[0]?.name;
    cell.textContent = data[0]?.cell;
    email.textContent = data[0]?.email;
    address.textContent = data[0]?.address;
   
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  } 
</script>