{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Add Transfer {% endblock%}
{% block content %}
   <div class="inventory">
        <div class='add-transfer'>
            <div class='add-transfer-nav shadow p-2 bg-dark text-light rounded'>
                <div>
                    <h5 class='fw-bold px-2 mt-2'>Add Transfer</h5>
                </div>
            </div>
            <div class='mt-2  px-2 border'>
                <form class='d-flex flex-column mt-2 w-100 mt-2 w-100' method='post'>
                    {% csrf_token %}
                    <div class="mb-1">
                        <label for="id_product" class="form-label requiredField">
                            Product
                        </label> 
                        <select class="select form-select" id='id_product'>
                            <option value="">-----</option>
                            {% for product in inventory %}
                                <option value={{product.product.name}}>{{product.product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="div_id_price" class="mb-1">
                        <label for="id_price" class="form-label requiredField">
                            Price
                        </label> 
                        <input 
                            type="number" 
                            name="price" step="0.01" 
                            class="numberinput form-control" 
                            required 
                            id="id_price"
                        >
                        <p id="price_error" class="fs-6 text-danger"></p>
                    </div> 
                    <div id="div_id_quantity" class="mb-1"> 
                        <label for="id_quantity" class="form-label requiredField">
                            Quantity
                        </label> 
                        <input 
                            type="number" 
                            name="quantity"
                            value="" 
                            min="0" 
                            class="numberinput form-control" 
                            required id="id_quantity"
                        > 
                        <p id="quantity_error" class="fs-6 text-danger"></p>
                    </div> 

                    <div id="div_id_from" class="mb-1">
                        <label for="id_from" class="form-label requiredField">
                           Source
                       </label> 
                       <select 
                           type="text" 
                           name="name" 
                           maxlength="255" 
                           class="textinput form-control" 
                           required 
                           id="id_from"
                           disabled
                       >
                        <option selected>{{ request.user.branch.name }}</option>
                       </select>
                   </div>
                    <div class="mb-2">
                        <label for="id_to" class="form-label requiredField">
                            Destination
                        </label> 
                        <select class="select form-select" id='id_to' disabled>
                            <option value={{ transfer.transfer_to.name  }}>{{ transfer.transfer_to.name }}</option>t
                        </select>
                    </div>
                    <div class='d-flex justify-content-end mb-2'>
                        <button type='button' class='btn btn-secondary btn-sm' id="id_submit" onclick="addItem();">
                          <i class='bx bx-save' ></i>
                          save
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body text-center" id='payment_content'>
                    <i class='bx bx-check-circle h1'></i>
                    <h5>Product(s) Transfered Successfully</h5>
                  </div>
              </div>
          </div>
      </div>
        <div id="cart-display" class="mt-3 px-2">
            <p id="cart-title">Transfer Items</p>
            <table class="table border rounder p-2" id="cart-table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="cart-items">
              </tbody>
            </table>
            <div class='d-flex justify-content-end'>
                <button class="btn btn-primary btn-sm flex" id="confirm-button" onclick="processCart()">Confirm</button>
            <div>
        </div>       
   </div>  

   <script src="{% static 'js/productValidation.js'%}"></script>
<script>
    let cart = [];
    let prodData = []

    const successModal = new bootstrap.Modal(document.querySelector('#successModal'))
    {% comment %} onst loaderModal = new bootstrap.Modal(document.querySelector('#branchModal')) {% endcomment %}

    document.querySelector('#id_product').addEventListener(
      'change', ()=>{
        const prodElement = document.getElementById('id_product')
        const prodSelectedOption = prodElement.options[prodElement.selectedIndex]
        const name =  prodSelectedOption.textContent

        fetch(`/inventory/inventory/?name=${name}`)
        .then(response => response.json())
        .then(data=>{
          document.querySelector('#id_price').value=Number(data[0]?.price)
          document.querySelector('#id_quantity').value=Number(data[0]?.quantity)
          prodData.push(data)
        })
        .catch(error => console.error('Error:', error))
      }
    )

    document.querySelector('#id_quantity').addEventListener(
      'input', ()=>{
        const quantity = $('#id_quantity').val()
        console.log(prodData[0][0].quantity)
        if (quantity > prodData[0][0].quantity){
          document.querySelector('#quantity_error').innerHTML='*Quantity cant be more than source quantity'
        }else{
          document.querySelector('#quantity_error').innerHTML=''
        }
      }
    )
    

    function isCartEmpty(){
        if (cart.length === 0){
            document.getElementById('cart-display').style.display='none'
            {% comment %} console.log(cart.length) {% endcomment %}
        }else{
            document.getElementById('cart-display').style.display='block'
        }
    }
    isCartEmpty()

    function generateUniqueId() {
        return Math.floor(Math.random() * 1000000000).toString(36);
      }
    
    function updateCartDisplay() {
        isCartEmpty()
        const cartItemsList = document.getElementById("cart-items");
        cartItemsList.innerHTML = ""; 
      
        let total = 0;
        cart.forEach((item) => {
          const row = document.createElement("tr");
          row.innerHTML = `
            <td>${item.product}</td>
            <td>${item.price}</td>
            <td>${item.quantity}</td>
            <td>${item.from_branch}</td>
            <td>${item.to_branch}</td>
            <td>
                <button class="btn btn-sm btn-danger" data-id=${item.id} onclick="removeItem(this);">
                  <i class='bx bx-trash-alt'></i>
                </button>
            </td>
          `;
          cartItemsList.appendChild(row);
        });
      }
      

    function addItem() {
        const pElement = document.getElementById('id_product')
        const pSelectedOption = pElement.options[pElement.selectedIndex] 
        const product = pSelectedOption.textContent;

        const price = Number(document.getElementById('id_price').value)
        const quantity =  Number(document.getElementById('id_quantity').value)

        const toElement = document.getElementById('id_to')
        const toSelectedOption = toElement.options[toElement.selectedIndex]
        const toBranchId =  toSelectedOption.textContent
        

        const fromElement = document.getElementById('id_from')
        const fromSelectedOption = fromElement.options[fromElement.selectedIndex]
        const fromBranchId =  fromSelectedOption.textContent
      

        const existingItem = cart.find((item) => item.product === product)
        console.log(fromBranchId)
    
      if (existingItem) {
        existingItem.quantity += quantity;
      } else {
        const newTransfer = {
          id:generateUniqueId(),
          product:product, 
          from_branch: fromBranchId,
          to_branch:toBranchId,
          quantity: quantity,
          price:price
        };
        cart.push(newTransfer);
      }
    
      updateCartDisplay(); 

      //clear values
      document.getElementById('id_price').value = 0
      document.getElementById('id_quantity').value = 0

    }
    
    const removeItem = (el) => {
        const id = el.dataset.id
        cart = cart.filter((item) => item.id !== id);
        updateCartDisplay();
    }
    
    function processCart() {
      fetch("/inventory/process-transfer-cart/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken"), 
        },
        body: JSON.stringify({'cart':cart, 'transfer_id':{{ transfer.id }}}),
      })
        .then((response) => {
          console.log(response)
          if (response.ok) {
            successModal.show()
            cart = []; 
            updateCartDisplay();
          } else {
            alert('transfer failed')
          } 
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
    
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }    
</script>
        
{% endblock content %}