{% extends "base.html" %}
{% load static%}
{% block title%} Branches Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center border rounded p-2">
                <div class="d-flex align-items-center">
                        <div class=''>
                            <span class=''>Inventory List</span>
                        </div>
                </div>
                <div class="search d-flex align-items-center">
                    <form method="get">
                        <div>
                            <input
                                id="search"
                                name="q"
                                type="search"
                                class="form-control"
                                placeholder="search..."
                            />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="table mt-2">
            <!-- {% include 'components/loader.html'%} -->
                <table class='table border rounded p-2 table-striped' id="invTab">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Branch</th>
                    </tr>
                    <tbody id="branchTable"></tbody>
                </table>
                <!-- delete modal -->
                <div class="delete-modal hidden">
                    <div class="modal-content d-flex justify-content-center align-items-center mt-5">
                        <p class="fs-4 fw-bold">Confirm Product deletion</p>
                        <div>
                            <button class="btn btn-secondary btn-sm yes">
                                yes
                            </button>
                        </div>
                        <div>
                            <button id="btn-close" class="btn btn-danger btn-sm">
                                no
                            </button>
                        </div>
                    </div>
                </div>
                <div class="overlay hidden"></div>
        </div> 
    </div>
<script>
    let inventoryData = []
    const branchTable = document.querySelector('#branchTable')
    const search = document.querySelector('#search');
    const loader = document.querySelector('#loader');
    const invTab = document.querySelector('#invTab');

    $.ajax({
        url: '{% url "inventory:branches_inventory_json" %}',
        }).done(function(response) {
            const data = response;
            inventoryData.push(data)
            displayInventoryTable(data);
        })

    
    search.addEventListener('input', ()=>{
        const search_q = search.value
        
        branchTable.innerHTML=''
        displayInventoryTable(searchFilter(search_q))
    })

    const searchFilter = (search_q) =>{
        const queryLower = search_q.toLowerCase()
        return inventoryData[0].filter((item)=>{
            const quantity = item.quantiy ? item.quantity.toString(): '';
            const branchName = item.branch__name ? item.branch__name.toLowerCase() : '';
            const productName = item.product__name.toLowerCase();
            const cost = item.cost ? item.cost.toLowerCase() : ''

            return(
                productName.includes(queryLower) ||
                quantity.includes(queryLower) ||
                branchName.includes(queryLower)||
                cost.includes(queryLower)
            )
        })
    }

    function displayInventoryTable(data){
        data.forEach((data)=>{
            branchTable.innerHTML += `
            <tr>
                <td><small>${data?.product__name}</small></td>
                <td><small>${data?.quantity}</small></td>
                <td><small>${data?.price}</small></td>
                <td><small>${data?.branch__name}</small></td>
            </tr>
            `
        })
    }

</script>
{% endblock content %}