{% extends "base.html" %}
{% load static%}
{% block title%} Branches Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center border rounded p-2">
                <div class="d-flex align-items-center">
                        <div class=''>
                            <span class=''>Inventory List</span>
                        </div>
                </div>
                <div class="search d-flex align-items-center">
                    <form method="get">
                        <div>
                            <input
                                id="search"
                                name="q"
                                type="search"
                                value="{{search_query}}"
                                class="form-control"
                                placeholder="search..."
                            />
                        </div>
                    </form>
                    <span class="px-1"></span>
                    <form method="get" class="d-flex">
                        <select name="branches" value='{{branch}}' class="form-control" id='id_branches'>
                            <option value="">All Branches</option>
                            {% for branches in branches %}
                                <option value="{{ branches.id }}">{{ branches.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="px-1"></span>
                        <button type="submit" class="btn btn-light btn-sm">
                            <i class="bx bx-filter"></i>
                        </button>
                    </form>
                    <span class="px-1"></span>
                    <form method="get" class="d-flex">
                        <select name="category" value='{{category}}' class="form-control" id='id_category'>
                            <option value="">All Categories</option>
                            <option value='inactive'>Inactive</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="px-1"></span>
                        <button type="submit" class="btn btn-light btn-sm">
                            <i class="bx bx-filter"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="table mt-2">
                <!-- inventory table -->
                <table class='table border rounded p-2 table-striped'>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Branch</th>
                    </tr>
                    <tbody>
                        {% for product in branches_inventory %}
                            <tr>
                                <td>{{product.product.name}}</td>
                                <td>{{product.quantity}}</td>
                                <td>${{product.price}}</td>
                                <td>{{product.branch}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- delete modal -->
                <div class="delete-modal hidden">
                    <div class="modal-content d-flex justify-content-center align-items-center mt-5">
                        <p class="fs-4 fw-bold">Confirm Product deletion</p>
                        <div>
                            <button class="btn btn-secondary btn-sm yes">
                                yes
                            </button>
                        </div>
                        <div>
                            <button id="btn-close" class="btn btn-danger btn-sm">
                                no
                            </button>
                        </div>
                    </div>
                </div>
                <div class="overlay hidden"></div>
        </div> 
    </div>
{% endblock content %}