{% extends "base.html" %}
{% load static%}
{% block title%} Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="row mt-2">
            <div class="col">
                <div class="card border rounded bg-light">
                    <div class="card-body ">
                        <h6>Total Inventory Cost </h6>
                        <h6 class='text-center text-muted'>${{total_cost}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border rounded bg-light">
                    <div class="card-body">
                        <h6>Total Inventory Price</h6>
                        <h6 class='text-center text-light text-muted'>${{total_price}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventory-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center border rounded p-2">
                <div class="d-flex">
                    {% if request.user.role == 'admin' %}
                        <div>
                            <a href='{% url 'inventory:add_product' %}' class="btn btn-light btn-sm">
                                <i class='bx bx-plus'></i> 
                                Inventory
                            </a>
                        </div>
                    {% endif %}
                    <div class="px-1">
                        <a href='{% url 'inventory:transfers' %}' class="btn btn-light btn-sm">
                            <i class='bx bx-transfer-alt' ></i>
                            Product
                        </a>
                    </div>
                    <div>
                        <a href='{% url 'inventory:receive_inventory' %}'  class="btn btn-light btn-sm">
                            Receive Stock
                            <span class="badge badge-light ">{{transfers_count}}</span>
                        </a>
                    </div>
                </div>
                <div class="search d-flex align-items-center">
                    <form method="get">
                        <div>
                            <input
                                id="search"
                                name="q"
                                type="search"
                                value="{{search_query}}"
                                class="form-control"
                                placeholder="search..."
                            />
                        </div>
                    </form>
                    <span class="px-1"></span>
                    <form method="get" class="d-flex">
                        <select name="category" class="form-control" id='id_category'>
                            <option value="">All Categories</option>
                            <option value='inactive'>Inactive</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="px-1"></span>
                        <button type="submit" class="btn btn-light btn-sm">
                            <i class="bx bx-filter"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
        <div>
            <div class='mt-3 px-1 d-flex justify-content-between align-items-center'>
                <p class=''>Inventory List</p>
               
                <form method='get' class="d-flex" id="inventory-pdf">
                    <select 
                        name='category'
                        id="id_category"
                        class='select form-select'
                    >
                        <option value=''>All</option>
                        {% for category in categories %}
                            <option value='{{category.name}}'>{{category.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="px-1"></span>
                    <button class="btn btn-secondary btn-sm">
                        <i class='bx bx-download'></i>
                    </button>
                </form>
            </div>
            {% include "inventory/components/inventory_table.html" %}
        </div>
   </div>  
   <script  src="{% static 'js/jquery.js'%}"></script>
   <script>
        $('#inventory-pdf').submit(function(e) {
            e.preventDefault();
            console.log('here')
            const data = {
                category: $('#id_category').val(),
            }
            console.log(data)
            $.ajax({
                url: '{% url 'inventory:inventory_pdf'%}',
                type: 'GET',
                data: data,
                }).done(function(response) {
            })
        })
        document.querySelector('#id_category').value='{{category}}'
   </script>
{% endblock content %}