{% extends "base.html" %}
{% load static%}
{% block title%} Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center bg-dark text-light rounded mb-2 p-2">
                <div class="d-flex">
                    <div>
                        <h4 class='mt-1 fw-bold'>{{ purchase_order.order_number}} <small class='px-1 fw-bold fx-6'>Order Detail</small></h4>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <div class="table-detail mt-2 w-100 atable">
                <table class="table table-bordered table-striped">
                    <thead>
                    <th class="fs-6 text-dark" style="color:black;">Product</th>
                    <th class="fs-6 text-dark" style="color:black;">Quantity</th>
                    <th class="fs-6 text-dark" style="color:black;">Supplier Price</th>
                    <th class="fs-6 text-dark" style="color:black;">Total Supplier Price</th>
                    <th class="fs-6 text-dark" style="color:black;">Total Product Expenses</th>
                    <th class="fs-6 text-dark" style="color:black;">Unit Product Expense</th>
                    <th class="fs-6 text-dark" style="color:black;">Total Purchase Price + Expense</th>
                    <th class="fs-6 text-dark" style="color:black;">Total Purchase Price</th>
                    </thead>
                    <tbody id="apportionment-table">
                        {% for item in items %}
                        <tr>
                            <td>{{ item.product }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.total_buying }}</td>
                            <td>{{ item.allocated }}</td>
                            <td>{{ item.expense_cost }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.allocationRate }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <!-- Section to display additional expenses -->
                    <tbody id="expenses-table">
                        <tr>
                            <td colspan="4"><strong>Totals</strong></td>
                            <td><strong>{{ total_expenses }}</strong></td>
                            <td colspan="4"></td>
                        </tr>
                        {% for expense in expenses %}
                        <tr>
                            <td colspan="4">{{ expense.name }}</td>
                            <td>{{ expense.amount }}</td>
                            <td colspan="4"></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <!-- Footer for totals -->
                    <!--<tfoot id="expense-footer">
                        {% for expense in expenses %}
                        <tr>
                            <td colspan="5">{{ expense.name }}</td>
                            <td>{{ expense.amount }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"><strong>Total Other Expenses</strong></td>
                            <td colspan="2">{{ total_expense_sum }}</td>
                            <td colspan="4"></td>
                        </tr>
                    </tfoot>-->
                </table>

            </div>
        </div>
   </div>
   <script>
    document.addEventListener('DOMContentLoaded', function() {
        let rows = document.querySelectorAll('#order_table tbody tr');

        rows.forEach(row => {
            let unitCostCell = row.children[3];
            let quantityCell = row.children[4];
            let totalCell = row.children[5];

            let unitCost = parseFloat(unitCostCell.textContent.trim());
            let quantity = parseInt(quantityCell.textContent.trim(), 10);

            let total = unitCost * quantity;
            console.log(total)
            totalCell.textContent = total.toFixed(2);
        });
    });
</script>
{% endblock content %}