{% extends "base.html" %}
{% load static%}
{% block title%} Receive Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center rounded p-2">
                <div class='fw-bold d-flex justify-content-center text-success w-100'>
                    <h5><span class='fw-bold'>Stock Transfers (Received)</span></h5>
                </div>
            </nav>
        </div>
        <div class=''>
            {% include "inventory/components/receive _inventory_table.html" %}
        </div>
   </div> 
{% endblock content %}