{% extends "base.html" %}
{% load static%}
{% block title%} Receive Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center bg-dark text-light rounded shadow p-2">
                <div class='fw-bold h5'>Receive Stock Transfers</div>
                <div class="d-flex">
                    <input
                        id="search"
                        name="q"
                        type="search"
                        class="form-control"
                        placeholder="search..."
                    />
                </div>
            </nav>
        </div>
        <div class=''>
            {% include "inventory/components/receive _inventory_table.html" %}
        </div>
   </div> 
{% endblock content %}