{% extends "base.html" %}
{% load static%}
{% block title%} Re order {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center bg-dark text-light rounded p-2">
                <div class="d-flex">
                    <div>
                        <h5 class='mt-1 fw-bold'>Product Re-order List</h5>
                    </div>
                </div>
                <div class="search d-flex align-items-center">
                    <div>
                        <button type="button" class="btn btn-primary" id="createList">
                            create order list
                        </button>
                    </div>
                    <div class="mx-2">
                        <a href="{% url 'inventory:clear_reorder_list' %}" type="button" class="btn btn-danger">
                            clear list
                        </a>
                    </div>
                    <div>
                        <span>
                            <a href='?download=true' class="btn btn-success">
                                excel
                                <i class='bx bx-download'></i>
                            </a>        
                        </span>
                    </div>
                </div>
            </nav>
        </div>
        <div>
        {% include 'components/loader.html' %}
        <div class="table-detail table-scroll hidden mt-2" id="reorderTable">
            <table class='table border rounded p-2'>
                <thead class='bg-primary'>
                    <tr>
                        <th>Product</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="reorderData">
                    {% for product in reorder_list %}
                        <tr>
                            <td><small>{{ product.product.product.name }}</small></td>
                            <td id='remove' data-id={{ product.id }}><small><i class='bx bx-trash'></i>remove</small></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
            
            <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Remove product from list</h5>
                            <button class='btn btn-secondary w-100' id='removeBtn'>Yes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center">
                        <h5 class="p-3">Success</h5>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="reorderModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-2 ">
                        <h5 class="'fw-bold">Create Order List</h5>
                        <div class="mt-2">
                            <select class="form-select" id="id_category">
                                <option value="">All products</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <table class="table table-striped mt-2"  id="addReorderTableList">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="orderList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div> 
<script>
    let product_id = '';
    let action = '';
    let productData = []

    const removeModal = new bootstrap.Modal(document.getElementById('removeModal'));
    const successModal = new bootstrap.Modal(document.getElementById('successModal'));
    const reorderModal = new bootstrap.Modal(document.getElementById('reorderModal'));

    const removeBtn = document.querySelector('#removeBtn')
    const rmToggle = document.querySelectorAll('#remove')
    const orderList = document.querySelector('#orderList')
    const createList = document.querySelector('#createList')
    const reorderData = document.querySelector('#reorderData')

    const loader = document.querySelector('#loader');
    const tableEl = document.querySelector('#reorderTable');

    function loaderFunc(){
        setTimeout(()=>{
            loader.classList.add('hidden');
            loader.classList.remove('d-flex')
            tableEl.classList.remove('hidden')
        }, 300)
    }
    loaderFunc()

    function fetchData(){
        fetch('{% url "inventory:create_order_list" %}', {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"), 
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            productData.push(data)
            displayOrderData(data)
        })
            .catch((error) => {
            console.error("Error:", error);
        });
    }
    fetchData()

    function fetchOrderData(){
        fetch('{% url "inventory:reorder_list_json" %}', {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"), 
            },
        })
        .then(response => response.json())
        .then(data => {
            reorderData.innerHTML=''
            data.forEach((data)=>{
                reorderData.innerHTML += `
                    <td>${data?.product__product__name}</td>
                    <td><button onclick='deleteItem(this)' data-id=${data?.id} class='btn btn-sm btn-danger'><i class='bx bx-trash'></i>remove</button>
                `
            })
        })
            .catch((error) => {
            console.error("Error:", error);
        });
    }
    fetchOrderData()

    createList.addEventListener('click', ()=>{
        reorderModal.show()
    })

    rmToggle.forEach((btn)=>{
        btn.addEventListener('click', ()=>{
            product_id = btn.dataset.id
            removeModal.show()
        })
    
    })

    function deleteItem(el){
        product_id = el.dataset.id
        deleteClear()
    }

    

    function displayOrderData(data){
        orderList.innerHTML = ''
        data.forEach((data)=>{
            console.log(data.reorder)
            orderList.innerHTML += `
               ${ data?.reorder ? `
               `:`
                <tr>
                    <td>${data?.product__name}</td>
                    <td>${data?.quantity}</td>
                    <td>${data?.product__description}</td>
                    <td>
                        <button class='btn btn-primary btn-sm' data-id=${data.id} onclick='add(this)'>add product</button>
                    </td>
                </tr>
               `}
            `
    })}

    function add(el){
        const productId = el.dataset.id
        fetch('{% url "inventory:create_order_list" %}', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"), 
            },
            body: JSON.stringify({'id':productId}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                fetchOrderData()
                fetchData()
                loaderFunc()
                reorderModal.show()
            } else {
                alert(data.message)
            }
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    }


    function deleteClear(){
        const data = {'product_id':product_id}

        fetch('{% url "inventory:clear_reorder_list" %}', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"), 
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if (data.success) {
                removeModal.hide()
                successModal.show()
                setTimeout(() => {
                    window.location.href='{% url "inventory:reorder_list" %}';
                }, 2000);
            } else {
                alert(data.message)
            }
        })
        .catch((error) => {
        console.error("Error:", error);
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>  
{% endblock content %}