{% load static%}
{% block content %}
   <div class="inventory">
        <h5 class='fw-bold'>Transfers</h5>
        <table class='table table-striped border rounded p-2'>
            <tr>
                <thead>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </thead>
            </tr>
            <tbody id='transfersTable'></tbody>
        </table>
        
        <div class=''>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-secondary btn-sm" id="downloadTransferReport" type="button">
                    <i class='bx bx-download'></i>
                    download
                </button>
            </div>        
        </div>
   </div>  
{% endblock content %}