{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Withdrawals {% endblock%}
{% block content %}
<div class="withdrawal d-flex">
    <div class="w-100">
        <nav class="border rounded d-flex justify-content-between bg-dark text-light rounded shadow align-items-center p-2">
            <div class=''>
                <h5 class='fw-bold'>Withdrawals <small class='text-warning'>{{ count }}</small></h5>
            </div>
            <div class='d-flex'>
                <button id='cashWithdrawBtn' class='btn btn-primary'>
                    <i class='bx bx-plus'></i>
                    withdwrawal
                </button>
                <span class='px-2'></span>
                <a href='{% url "finance:withdrawals" %}?download=true' class='btn btn-primary'>
                    excel 
                    <i class='bx bx-download'></i>
                </a>
                <span class='px-2'></span>
                <form method="get" class="d-flex justify-content-between align-items-center">
                    <input
                        id="search"
                        name="q"
                        type="search"
                        value="{{search_query}}"
                        class="form-control"
                        placeholder="search..."
                    />
                </form>
                <span class='px-2'></span>
                <form method="get" class="d-flex justify-content-between align-items-center">
                    <select class='form-control' value='{{ selected_query }}' name='sq'>
                        <option value=''>All</option>
                        <option value='deleted'>Deleted</option>
                    </select>
                    <div class='px-2'>
                        <button class='bx bx-filter btn text-light'></button>
                    </div>
                </form>
            </div>
        </nav>

        <table class="table border rounded p-2 mt-2">
            <thead class='bg-primary'>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Reason</th>
                    <th>Branch</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for withdrawal in withdrawals %}
                    <tr>
                        {% if withdrawal.deleted %}
                            <td><small class='text-decoration-line-through text-danger'>{{withdrawal.date}}</small></td>
                            <td><small class='text-decoration-line-through text-danger'>{{withdrawal.user}}</small></td>
                            <td><small class='text-decoration-line-through text-danger'>{{withdrawal.currency.symbol}} {{withdrawal.amount}}</small></td>
                            <td><small class='text-decoration-line-through text-danger'>{{withdrawal.reason}}</small></td>
                            <td><small class='text-decoration-line-through text-danger'>{{withdrawal.user.branch.name}}</small></td>
                        {% else %}
                            <td><small>{{withdrawal.date}}</small></td>
                            <td><small>{{withdrawal.user}}</small></td>
                            <td><small>{{withdrawal.currency.symbol}} {{withdrawal.amount}}</small></td>
                            <td><small>{{withdrawal.reason}}</small></td>
                            <td><small>{{withdrawal.user.branch.name}}</small></td>
                        {% endif %}
                        <td>
                            {% if withdrawal.deleted %}
                                <small class='text-decoration-line-through text-danger'>Canceled</small>
                            {% else %}
                                {% if withdrawal.status == False %}
                                    <span>
                                        <button data-id={{ withdrawal.id}} id='expenseBtn' class="btn btn-primary btn-sm">
                                            <i class='bx bx-plus'></i>
                                            <span>Expense</span>
                                        </button>
                                    </span>
                                    <span>
                                        <a href="{% url 'finance:delete_withdrawal' withdrawal.id%}" class="btn btn-danger btn-sm">
                                            <i class='bx bx-trash'></i>
                                            <span>Cancel</span>
                                        </a>
                                    </span>
                                {% else %}
                                    Expensed
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="modal fade" id="cashModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class='fw-bold'>Add Withdrawal Form</h5>
                    <form method='post' >
                        {% csrf_token %}

                        {{ form|crispy }}

                        <small class='text-danger' id='cashWithdrawal_error'></small>

                        <div class="d-flex justify-content-end">
                            <div class="">
                                <button type="reset" class="btn btn-danger btn-sm w-100">
                                    <i class='bx bx-reset'></i>
                                    Reset
                                </button>
                            </div>
                            <span class="px-1"></span>
                            <div class="">
                                <button type="submit" id="id_submit_withdrawal" class="btn btn-secondary btn-sm w-100">
                                    <i class='bx bx-save'></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class='fw-bold'>Add to Expense</h5>
                    <div>
                        <form method='post' class='mt-2 p-2'>
                            {% csrf_token %} 
                            <div id="div_id_amount" class="mb-3"> 
                                <label
                                    for="id_amount" class="form-label requiredField">
                                    Amount
                                    <span class="asteriskField">*</span> 
                                </label> 
                                <input type="number" name="amount" step="0.01" class="numberinput form-control" required id="id_amnt" readonly='true'> 
                                <p class="text-danger fs-6" id="id_amount_error"></p>
                            </div> 
                            <div id="div_id_category" class="mb-3"> 
                                <label
                                    for="id_category" class="form-label requiredField">
                                    Category
                                    <span class="asteriskField">*</span> 
                                </label> 
                                <div class='d-flex'>
                                    <select name="category" class="select form-select" required id="id_category"> 
                                        <option value=" ">---------</option> 
                                        {% for category in expense_categories%}
                                            <option value="{{category.id}}">{{category.name}}</option> 
                                        {% endfor %}
                                    </select> 
                                    <button class='btn btn-secondary btn-sm' id='id_category_button' type="button">
                                        <i class='bx bx-plus'></i>
                                    </button>
                                </div>
                            </div> 
                            <div id="div_id_description" class="mb-3"> 
                                <label
                                    for="id_description" class="form-label requiredField">
                                    Description<span class="asteriskField">*</span> 
                                </label> 
                                    <textarea name="description" cols="40" rows="3" maxlength="200" class="textarea form-control" required id="id_description"></textarea> 
                                </div>
                            </div>
                            <p id='id_exp_message' class='text-danger'></p>
                            <div class="d-flex justify-content-end mt-2">
                                <div class="">
                                    <button type="reset" class="btn btn-danger btn-sm w-100">
                                        <i class='bx bx-reset'></i>
                                        Reset
                                    </button>
                                </div>
                                <span class="px-1"></span>
                                <div class="">
                                    <button type="button" id="id_submit_exp" class="btn btn-secondary btn-sm w-100">
                                        <i class='bx bx-save'></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h5 class='fw-bold'>Add Category</h5>
                                        {% include 'finance/expenses/add_category.html'%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cashSuccessModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 class='fw-bold'>Success</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.js'%}"></script>
<script>
    let withdrawalId = '';
    let withdrawalData = [];
    const cashWithdrawBtn = document.querySelector('#cashWithdrawBtn');
    const amountEl = document.querySelector('#id_amount');
    const cashModal = new bootstrap.Modal(document.querySelector('#cashModal'));

    const successModal = new bootstrap.Modal(document.querySelector('#cashSuccessModal'));
    const expenseBtn = document.querySelectorAll('#expenseBtn');
    const expenseModal = new bootstrap.Modal(document.querySelector('#expenseModal'));

    const saveBtn = document.querySelector('#id_submit_exp');
    const expButton = document.querySelector('#id_category_button');

    let catValue = '';
    const category = document.querySelector('#id_category');
    const categoryValue = document.querySelector('#id_category').value;
    const categoryModal = new bootstrap.Modal(document.querySelector('#categoryModal'));

    cashWithdrawBtn.addEventListener('click', ()=>{
        cashModal.show()
    })
    
    expenseBtn.forEach((btn)=>{
        btn.addEventListener('click', ()=>{
            withdrawalId = btn.dataset.id
            expenseModal.show()
            fetchWthdrawalData(withdrawalId)
        })
    })

    saveBtn.disabled=true;
    category.addEventListener('change', ()=>{
        if (category.value){
            catValue = category.value
            saveBtn.disabled=false
        }else{
            saveBtn.disabled=true 
        }
    })

    saveBtn.addEventListener('click', ()=>{
        add_to_expense()
    })

     // validations
    amountEl.addEventListener('input', ()=>{
        const amountValue = document.querySelector('#id_amount').value
        console.log(amountValue)
        if (amountValue <= 0){
            cashWithdrawalError.textContent='Amount cant be less than Zero or Equal zero';
            submitBtn.disabled=true;
        }else{
            cashWithdrawalError.textContent='';
            submitBtn.disabled=false;
        }
    })
    
    expButton.addEventListener(
        'click', ()=>{
            categoryModal.show()
        }
    )

    document.querySelector('#id_category_submit').addEventListener(
        'click', ()=>{
            const data = {
                    name: $('#id_name').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }
            $.ajax({
                url: '{% url 'finance:create_expense_category'%}',
                type: 'POST',
                data: data,
                }).done(function(response) {
                    document.querySelector('#id_category_message').innerHTML=response.message
                })
        }
    )

    function fetchWthdrawalData(id){
        fetch(`/finance/withdrawals/json/?id=${id}`, {
            method: "GET",
        })
        .then(response => response.json())
        .then(data => {
            withdrawalData.push(data);
            document.querySelector('#id_amnt').value=Number(data[0]?.amount);
            document.querySelector('#id_description').value=data[0]?.reason;
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    }

    function add_to_expense(){
        const data = {
            'withdrawal':withdrawalData[0],
            'reason':document.querySelector('#id_description').value,
            'withdrawal_id':withdrawalId,
            'category_id': catValue
        }
        
        fetch(`{% url 'finance:add_to_expense'%}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success){
                    expenseModal.hide()
                    successModal.show()
                    setTimeout(()=>{
                        window.location.reload()
                    }, 1000)
                }else{
                    document.querySelector('#id_exp_message').innerHTML=data.message  
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
{% endblock content %}
