{% load static%}
{% block content %}
   <div class="table mt-2">
        <!-- inventory table -->
        <table class='table border table-striped table-hover rounded p-2'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id='inventory_table'></tbody>
        </table>
        
        <!-- delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" id='payment_content'>
                        <p class="h5 fw-bold">Confirm Product deletion</p>
                            <div>
                                <button class="w-100 btn btn-secondary btn-sm yes">
                                    yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" id='payment_content'>
                        <p class="h5 fw-bold">Success</p>
                    </div>
                </div>
            </div>
        </div>

   </div> 
    
   <script src="{% static 'js/jquery.js'%}"></script>
   <script>
        let product_id = '';
        const inventoryData = [];
        const modal = new bootstrap.Modal(document.querySelector('#deleteModal'));
        const successModal = new bootstrap.Modal(document.querySelector('#successModal'));
        const deleteButtons = document.querySelectorAll('#delete');

        const inventoryTable = document.querySelector('#inventory_table');

        const productId=(element)=>{
            console.log(element)
            product_id = element.dataset.id
        }

        deleteButtons.forEach((button)=>{
            button.addEventListener(
                'click', ()=>{
                    modal.show()
                }
            )
        })
        
        document.querySelector('.yes').addEventListener(
            'click', ()=>{
                console.log(product_id)
                $.ajax({
                    url: "{% url 'inventory:delete_inventory' %}?product_id=" + product_id,
                    type: 'GET',
                    }).done(function(response) {
                        modal.hide()
                        successModal.show()
                        setTimeout(()=>{
                            window.location.reload()
                        }, 2000)
                    }
                )
            }
        )

        $.ajax({
            url: '{% url "inventory:inventory_index_json" %}',
            type: 'GET',
            }).done(function(response) {
                const data = response
                console.log(data)
                inventoryData.push(data)
                displayProductTable(data)
            }
        )

        document.querySelector('#search').addEventListener(
            'input', ()=>{
                const search_q = document.querySelector('#search').value
                let filteredData = inventoryData[0].filter((data)=>{
                    return(data.product__name.includes(search_q))
                })
                inventoryTable.innerHTML=''
                displayProductTable(filteredData)
            }
        )

        function displayProductTable(data){
            data.forEach((data)=>{
                inventoryTable.innerHTML += `
                <tr>
                    <td><small>${data?.product__name}</small></td>
                    <td><small>${data?.quantity}</small></td>
                        <td>${data?.cost}</td>
                        <td>${data?.price}</td>
                        <td>
                            <span>
                                <a href="/inventory/inventory-detail/${data?.id}/" class='text-dark'>
                                    <i class='bx bx-show'></i>
                                </a>
                            </span>
                            <span class='px-2'>
                                <a href="/inventory/edit-inventory/${data?.product__name}/" class="text-dark">
                                    <i class='bx bx-edit-alt'></i>
                                </a>
                            </span>
                            <span>
                                <span id='delete' data-id="${data?.product__id}" onclick="productId(this)" class="text-dark">
                                    <i class='bx bx-trash-alt'></i>
                                </span>
                            </span>
                        </td>
                </tr>
                `
            })
        }

   </script>
{% endblock content %}