{% load static%}
{% block content %}
<style>
    .number{
        width:70px;
    }
</style>
   <div class="table mt-2">
        <!-- inventory table -->
        <table class='table border table-striped table-hover rounded p-2'>
            <thead class='bg-primary'>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr>
                        <td><small>{{transfer.product.name}}</small></td>
                        <td><small>{{transfer.quantity}}</small></td>
                        <td><small>{{transfer.from_branch}}</small></td>
                        <td><small>{{transfer.to_branch}}</small></td>
                        <td>
                            {% if transfer.received %}
                                {{ transfer.description }}
                            {% else %}
                                <form method='post' class='px-1 d-flex'>
                                    {% csrf_token %}
                                    <input name='id' value={{transfer.id}} type='text' hidden/>
                                    <input name='received' value='true' type='text' hidden/>
                                    <input type='number' name='quantity' class='form-control number'/>
                                    <span class='px-2'></span>
                                    <button type="submit" class='btn btn-success btn-sm'>accept</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>  
{% endblock content %}