{% load static%}
{% block content %}
<div class="table transfers-table mt-2">
    <!-- inventory table -->
    <table class='table table-striped border table-hover rounded p-2'>
        <thead class='bg-primary'>
            <tr>
                <th>Date</th>
                <th>Trans Ref</th>
                <th>Description</th>
                <th>Destination</th>
            </tr>
            </thead>
        <tbody>
            {% for transfer in transfers %}
                <tr>
                    <td class='transfer-btn fw-bold' data-id={{ transfer.id }}><small>{{ transfer.date }}</small></td>
                    <td class='transfer-btn fw-bold' data-id={{ transfer.id }}><small>{{ transfer.transfer_ref }}</small></td>
                    <td class='transfer-btn fw-bold' data-id={{ transfer.id }}><small>{{ transfer.description }}</small></td>
                    <td class='transfer-btn fw-bold' data-id={{ transfer.id }}><small>{{ transfer.transfer_to }}</small></td>
                </tr>
                <tbody  class='bg-primary'>
                    {% for item in transfer_items %}
                        {% if transfer.id == item.transfer.id %}
                                <tr id="id_items" class="hidden">
                                    <td></td>
                                    <td><small>{{ item.transfer.transfer_ref }}</small></td>
                                    <td ><small>{{ item.product.name }} x {{ item.quantity }}</small></td>
                                    <td class='transfer-btn' data-id={{ transfer.id }}>
                                        <small>
                                            <span>
                                                (
                                                    {% if item.declined %}
                                                        <small class='text-danger'>Declined</small>
                                                    {% elif item.received %}
                                                        <small class='text-success'>{{ item.description }}</small>
                                                    {% else %}
                                                        <small>Not yet received</small>
                                                    {% endif %}
                                                    )
                                            </span>
                                        </small>
                                    </td>
                                </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            {% endfor %}

        </tbody>
    </table>
    <div class="modal fade" id="transferItemsModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="fw-bold">Transfered Products</h5>
                    <table class='table table-striped border rounded p-2'>
                        <tr>
                            <thead>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Destination</th>
                                <th>Status</th>
                            </thead>
                        </tr>
                        <tbody id='itemsTransfersTable'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="fw-bold">Delete Transfer</h5>
                    <button class="btn btn-secondary w-100" onclick="deleteTransfer()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successDeleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 class="fw-bold">Transfer Successfully Deleted</h5>
                </div>
            </div>
        </div>
    </div>

<script>
    let transfer_id = ''
    const transferBtn = document.querySelectorAll('.transfer-btn');
    const tranferItemsModal = new bootstrap.Modal(document.getElementById('transferItemsModal'));

    const expandBtn = document.querySelector('#id_expand')
    const itemsEl = document.querySelectorAll('#id_items')

    expandBtn.addEventListener('click', ()=>{
        itemsEl.forEach((el)=>{
            if (el.classList.contains('hidden')){
                el.classList.remove('hidden')
            }else{
                el.classList.add('hidden')
            }
        })
    })

    transferBtn.forEach((btn)=>{
       btn.addEventListener('click', ()=>{
            tranferItemsModal.show()
            fetchDisplayItems(btn.dataset.id)
       })
    })

    function fetchDisplayItems(transferId){
        $.ajax({
            url: '{% url "inventory:transfers_report" %}',
            type: 'GET',
            data:{transfer_id: transferId} 
            }).done(function(response) {
                const data = response;
                console.log(data)
                displayItemsTransfersTable(data);
            })
    } 

    function displayItemsTransfersTable(data){
        itemsTransfersTable.innerHTML = ''
        data.forEach((data)=>{
            itemsTransfersTable.innerHTML +=`
            <tr>
                <td><small>${data.product__name}</small></td>
                <td><small>${data.price}</small></td>
                <td><small>${data.quantity}</small></td>
                <td><small>${data.to_branch__name}</small></td>
                <td>
                    <span>
                      ${data.declined ? (
                        `<small class='text-danger'>Declined</small>`
                      ) : (
                        data.received ? (
                          `<small class='text-success'>Received</small>`
                        ) : (
                          `<small>Not yet received</small>`
                        )
                      )}
                    </span>
                  </td>
          
            </tr>
            `
        })
    }

</script>
{% endblock content %}