{% load static%}
{% block content %}
   <div class="table transfers-table mt-2">
        <!-- inventory table -->
        <table class='table table-striped border rounded p-2'>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Actions</th>
            </tr>
            <tbody>
                {% for transfer in transfers %}
                    <tr>
                        <td><small>{{transfer.product.name}}</small></td>
                        <td><small>{{transfer.quantity}}</small></td>
                        <td><small>{{transfer.from_branch}}</small></td>
                        <td><small>{{transfer.to_branch}}</small></td>
                        <td>
                            <span>
                                {% if transfer.declined == False %}
                                    {% if transfer.received == False %}
                                        <small>not yet received</small>
                                    {% else %}
                                       <small class='text-success'>Recieved</small>
                                    {% endif %}
                                {% else %}
                                    <small class='text-danger'>Declined</small>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>  
{% endblock content %}