{% load static%}
{% block content %}
    <nav class="d-flex flex-row justify-content-between align-items-center w-100 border">
        <!-- toggle aside -->
        <div class="w-25 d-flex align-items-center">
            <div class="">
                <button class="btn">
                    <i class='bx bxs-grid'></i>
                </button>
            </div>
            <div class="logo px-2 d-lg-none ">
                <img src="{% static 'assets/logo.png' %}" width="100px"/>
            </div>
            <div>
                <span class='fw-bold'>{{request.user.branch.name}}</span>
            </div>
        </div>
        <!-- middle links -->
        
        <!-- user and logout -->
        <div class='user mt-3  px-2 d-flex justify-content-end w-25'>
            <ul class="menu list-unstyled d-flex align-items-center">
                <li class="menu-link">
                    <small class='bx bx-bell text-muted'></small>
                </li>
                <li class="menu-link dropdown px-3">
                    <a href="#" class="dropdown-toggle">
                        <small class='bx bx-briefcase text-muted'></small>
                    </a>
                    <ul class="dropdown-menu bg-light shadow w-100">
                        <li class="dropdown-link">
                            <a href="" class="px-4 fs-6">Harare</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-link">
                    <small class='bx bxs-file text-muted'></small>
                    <span class=' text-dark caret'></span>
                </li>
                <li class="menu-link dropdown px-2">
                    <small class="dropdown-toggle">{{request.user}}</small>
                    <ul class="dropdown-menu shadow w-50 bg-light">
                        <li class="dropdown-link">
                            <a href="" class="px-3 fs-6">Profile</a>
                        </li>
                        <li class="dropdown-link">
                            <a href="{% url 'users:logout' %}" class="px-3 fs-6">Logout</a>
                        </li>
                    </ul>
                </li>
                <li>
                     {% if request.user.profile_image %}
                        <img class="rounded-circle" src="{{request.user.profile_image.url}}" width="25px"/>
                        {% else %}
                        <img class="rounded-circle" src="{% static 'assets/avatar.png'%}" width="25px"/>
                     {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock content %}