{% load static%}
{% block content %}
    <nav class="d-flex flex-row justify-content-between align-items-center w-100 border">
        <!-- toggle aside -->
        <div class="w-25 d-flex align-items-center">
            <div class="logo px-2 ">
                <img src="{% static 'assets/logo.png' %}" width="100px"/>
            </div>
            <div class="mt-1">
                <a href='{% url "dashboard:dashboard" %}' class="btn">
                    <i class='bx bxs-grid'></i>
                </a>
            </div>
            <div>
                <span class='text-muted mt-2'>{{request.user.branch.name}}</span>
                {% block title%} {% endblock title %}
            </div>
        </div>
        <!-- middle links -->
        
        <!-- user and logout -->
        <div class='user mt-3  px-2 d-flex justify-content-end w-75'>
            <ul class="menu list-unstyled d-flex align-items-center">
                <li class="menu-link dropdown">
                    <select  id='currency' class='bg-dark text-light form-select'>
                        <option value=''>Currency</option>
                        {% for currency in currencies %}
                            <option value='{{currency.id}}'>{{currency.name}}</option>
                        {% endfor %}
                    </select>
                </li>
                <span class='px-2'></span>
                <li class="menu-link invoice btn btn-secondary p-1">
                    <a href={% url 'finance:invoice' %}  class='text-light px-1'>
                        Invoices
                        <span class='badge badge-sm text-light'>{{invoice_count}}</span>
                    </a>
                </li>
                <span class='px-2'></span>
                <li class="menu-link invoice btn btn-light p-1" id='end'>
                    <span class='px-1'>
                        End Of Day
                    </span>
                </li>
                <span class='px-2'></span>
                <li class="menu-link">
                    <a href={% url 'inventory:branches_inventory'%} class="">
                        <small class='bx bx-briefcase text-muted'></small>
                    </a>
                </li>
                <span class='px-2'></span>
                <li class="menu-link">
                    <small class='bx bx-bell text-muted'></small>
                </li>
                <li class="menu-link dropdown px-2">
                    <small class="dropdown-toggle">{{request.user}}</small>
                    <ul class="dropdown-menu shadow w-50 bg-light">
                        <li class="dropdown-link">
                            <a href="" class="px-3 fs-6">Profile</a>
                        </li>
                        <li class="dropdown-link">
                            <a href="{% url 'users:logout' %}" class="px-3 fs-6">Logout</a>
                        </li>
                    </ul>
                </li>
                <li>
                     {% if request.user.profile_image %}
                        <img class="rounded-circle" src="{{request.user.profile_image.url}}" width="25px"/>
                        {% else %}
                        <img class="rounded-circle" src="{% static 'assets/avatar.png'%}" width="25px"/>
                     {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock content %}