{% block account_statement %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class='account-statement'>
    <div class='content px-2'>
        <div class=''>
            <div class='details'>
                <img src='{% static 'assets/logo.png' %}' width='200px'/>
                <div class="mt-2 w-100">
                    <small class='d-flex align-items-center'>
                        <i class='bx bx-building'></i>
                        <span>{{branch.address }}</span>
                    </small>
                    <small class='d-flex align-items-center'>
                        <i class='bx bx-phone'></i> 
                        <span>{{ re.branch.phonenumber }}</span>
                    </small>
                    <small class='d-flex align-items-center'>
                        <i class='bx bx-envelope'></i>
                        <span>{{ request.user.branch.email }}</span>
                     </small>
                </div>
            </div>
            <div>
                <div class='mt-3'>
                    <p class='mt-2 fw-bold'>{{ customer.name }}</p>
                    <div class="w-100">
                        <small class='d-flex align-items-center'>
                            <i class='bx bx-phone'></i>
                            <span>{{ customer.phone_number }}</span>
                        </small>
                        <small class='d-flex align-items-center'>
                            <i class='bx bx-envelope'></i> 
                            <span>{{ customer.email }}</span>
                        </small>
                        <small class='d-flex align-items-center'>
                            <i class='bx bx-building'></i>
                            <span>{{ customer.address }}</span>
                         </small>
                    </div>
                </div>
            </div> 
            <div class="mt-3 mb-3"><h4 class="text-center">Acccount Statement</h4></div>
            <div class="bg-light p-2">
                Balances:
                {% for balance in account %}
                    <small class='fw-bold {% if balance.balance < 0 %}text-danger{% endif %}'>| {{ balance.currency.symbol }} {{ balance.balance }} | </small>
                {% endfor %}
            </div>
    </div>
    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Invoice #</th>
                    <th>Product(s)</th>
                    <th>Invoice Amount</th>
                    <th>Amount Paid</th>
                    <th>Current Due Amount</th>
                    <th>Processed by</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in invoice_payments %}
                    <tr>
                        <td><small>{{ payment.payment_date }}</small></td>
                        <td><small>{{ payment.invoice.invoice_number }}</small></td>
                        <td><small>{{ payment.invoice.products_purchased }}</small></td>
                        <td><small>{{ payment.invoice.currency.symbol }} {{ payment.invoice.amount }}</small></td>
                        <td><small>{{ payment.invoice.currency.symbol }} {{ payment.amount_paid }}</small></td>
                        <td><small>{{ payment.invoice.currency.symbol }} {{ payment.amount_due }}</small></td>
                        <td><small>{{ payment.user.username }}</small></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body email text-center">
                        <divb class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </divb>
                        <p class="mt-2">Sending email to {{ customer.name }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}