{% extends "base.html" %}
{% load custom_filters %}
{% load static%}
{% block title%} Customers {% endblock%}
{% block content %}
<div class="customer">
    <div class="px-2 main-content ">
        <div class="customer-navbar">
            <nav class="d-flex justify-content-between align-items-center p-2 shadow">
                <div class="mt-2">
                    <h5 class='fw-bold'>Customers</h5>
                </div>
                <div class='d-flex'>
                    <a href="?download=true" class="btn btn-sm">
                        <i class='bx bx-file mt-1'></i>
                    </a> 
                    <form method="get" class='px-2'>
                        <div>
                            <input
                                id="search"
                                name="q"
                                type="search"
                                value="{{search_query}}"
                                class="form-control"
                                placeholder="search by name"
                            />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class='customer-table'>
            <table class="table border table-hover rounded p-2 mt-3 mt-2" id='customerTable' style='width:100%;'>
                <thead class='bg-primary'>
                    <tr>
                        <th>Name</th>
                        <th>Cellphone</th>
                        <th>Email</th>
                        <th>USD Account Balance(s)</th>
                        <th>ZIG Account Balance(s)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>
                                <small>
                                    <a href="{% url 'finance:customer' customer.customer.id%}" class="text-dark d-flex align-items-center">
                                        {% with name_parts=customer.customer.name|split_name %}
                                            {% if name_parts.first_name and name_parts.last_name %}
                                                <div class='initials'>
                                                    <span class='content'>{{ name_parts.first_name.0 }}{{ name_parts.last_name.0 }}</span>
                                                </div>
                                            {% else %}
                                                <div class='initials'>
                                                    <span class='content'>{{ name_parts.first_name.0 }}</span>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        <span class='px-2'>{{customer.customer.name}}</span>
                                    </a>
                                </small>
                            </td>
                            <td>
                                <div class='td-contents'>
                                    <small>
                                        <a href='https://wa.me/{{customer.customer.phone_number}}' class="text-dark">
                                            <i class='bx bxl-whatsapp'></i>
                                            {{customer.customer.phone_number}}
                                        </a>
                                    </small>
                                </div>
                            </td>
                            <td>
                               <div class='td-contents'>
                                    <small>
                                        <a href='mailto:{{customer.customer.email}}' class="text-dark">
                                            <i class='bx bx-envelope'></i>
                                            {{customer.customer.email}}
                                        </a>
                                    </small>
                               </div>
                            </td>
                            <td>
                                <small>
                                    {% for balance in accounts %}
                                        {% if balance.account.customer.id == customer.id and balance.currency.symbol == 'USD' %}
                                            <span class='text-center {% if balance.balance < 0 %}text-danger{% endif %}'>{{balance.currency.symbol}} {{balance.balance}}</span>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </small>
                            </td>
                            <td>
                                <small>
                                    {% for balance in accounts %}
                                        {% if balance.account.customer.id == customer.id and balance.currency.symbol == 'Z'%}
                                            <span class='text-center {% if balance.balance < 0 %}text-danger{% endif %}'>{{balance.currency.symbol}} {{balance.balance}}</span>
                                        {% endif %}
                                    {% endfor %}
                                </small>
                            </td>
                            <td>
                                <div class='td-contents'>                   
                                    <a href="{% url 'finance:update_customer' customer.customer.id %}" class='text-dark'>
                                        <i class='bx bx-edit'></i>
                                    </a>
                                    <span disabled type='button' data-id="{{customer.customer.id}}"  onclick="productId(this)" class="btn text-dark">
                                        <i class='bx bx-trash'></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    <div class="modal fade" id="endOfDayModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'end_of_day_modal.html' %}
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/jquery.js'%}"></script>
<script>
    new DataTable('#customerTable');


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }       
</script>
{% endblock content %}
