{% extends "base.html" %}
{% load custom_filters %}
{% load static%}
{% block title%} Customers {% endblock%}
{% block content %}
<div class="customer">
    <div class="px-2 main-content ">
        <div class="customer-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center p-2 border rounded">
                <div class="mt-2">
                    <h5>Customers</h5>
                </div>
                <div class='d-flex'>
                    <a href="?download=true" class="btn btn-secondary btn-sm">
                        <i class='bx bx-download mt-1'></i>
                    </a> 
                    <form method="get" class='px-2'>
                        <div>
                            <input
                                id="search"
                                name="q"
                                type="search"
                                value="{{search_query}}"
                                class="form-control"
                                placeholder="search by name"
                            />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <table class="table border rounded p-2 mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cellphone</th>
                    <th>Email</th>
                    <th>Account</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="{% url 'finance:customer' customer.customer.id%}" class="text-dark d-flex align-items-center">
                                {% with name_parts=customer.customer.name|split_name %}
                                    {% if name_parts.first_name and name_parts.last_name %}
                                        <div class='initials'>
                                            <span class='content'>{{ name_parts.first_name.0 }}{{ name_parts.last_name.0 }}</span>
                                        </div>
                                    {% else %}
                                        <div class='initials'>
                                            <span class='content'>{{ name_parts.first_name.0 }}</span>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <span class='px-2'>{{customer.customer.name}}</span>
                            </a>
                        </td>
                        <td>
                            <div class='td-contents'>
                                <a href='https://wa.me/{{customer.customer.phone_number}}' class="text-success">
                                    <i class='bx bxl-whatsapp'></i>
                                    {{customer.customer.phone_number}}
                                </a>
                            </div>
                        </td>
                        <td>
                           <div class='td-contents'>
                                <a href='mailto:{{customer.customer.email}}' class="text-dark">
                                    <i class='bx bx-envelope'></i>
                                    {{customer.customer.email}}
                                </a>
                           </div>
                        </td>
                        <td>
                            <div class='td-contents'>
                                {{customer.balance}}
                            </div>
                        </td>
                        <td>
                            <div class='td-contents'>                   
                                <a href="{% url 'finance:update_customer' customer.customer.id %}"  class="btn btn-light btn-sm text-primary">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <button disabled type='button' data-id="{{customer.customer.id}}" id="delete" onclick="productId(this)" class="btn btn-light btn-sm text-danger">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
        <div class="delete-modal hidden">
            <div class="modal-content d-flex justify-content-center align-items-center mt-5">
                <p class="fs-4 fw-bold">Confirm Product deletion</p>
                <div>
                    <button class="btn btn-secondary btn-sm yes">
                        yes
                    </button>
                </div>
                <div>
                    <button id="btn-close" class="btn btn-danger btn-sm">
                        no
                    </button>
                </div>
            </div>
        </div>
        <div class="overlay hidden"></div>
    </div>
</div> 

<script src="{% static 'js/jquery.js'%}"></script>
<script>
    let customer_id = ''
    const modal = document.querySelector('.delete-modal')
    const overlay = document.querySelector('.overlay')
    const deleteButtons = document.querySelectorAll('#delete')

    const productId=(element)=>{
        console.log(element)
        customer_id = element.dataset.id
    }

    deleteButtons.forEach((button)=>{
        button.addEventListener(
            'click', ()=>{
                modal.classList.remove('hidden')
                overlay.classList.remove('hidden')
            }
        )
    })
    
    document.querySelector('.yes').addEventListener(
        'click', ()=>{
            deleteCustomer(customer_id)
        }
    )

    document.querySelector('#btn-close').addEventListener(
        'click', ()=>{
            modal.classList.add('hidden')
            overlay.classList.add('hidden')
        }
    )

    async function deleteCustomer(customerId) {
        const response = await fetch(`/finance/customer/delete/${customerId}/delete/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        });

        const data = await response.json();
    
        if (data.status === 'success') {
            alert(data.message); 
        } else {
            alert(data.message); 
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }       
</script>
{% endblock content %}
