{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col">
  <div class='d-flex align-items-center justify-content-between bg-dark text-light shadow p-2'>
    <div class='h5'><i class='bx bx-building'></i> Branches </div>
    <div class=''>
      <a class="btn btn-primary btn-sm shadow" href="{% url 'company:add_branch' %}">
        <i class='bx bx-plus'></i>
        new branch
      </a>
    </div>
  </div>
<table class="table table-hover table-striped mt-3">
<thead class="bg-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope='col'>Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for branch in branches %}
      <tr>
        <th scope="row"><small>{{ branch.id }}</small></th>
        <td><small>{{ branch.name }}</small></td>
        <td><small>{{ branch.address }}</small></td>
        <td><small>{{ branch.phonenumber }}</small></td>
        <td><small>{{ branch.email }}</small></td>
        <td>
          <a class="text-dark" href="{% url 'company:edit_branch' branch.id %}">
            <i class='bx bx-edit'></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>

</div>

{% endblock %}
