{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col">
  <div class='d-flex align-items-center'>
    <h5 class='fw-bold'> Branches </h5>
    <div class='px-2 mt-2'>
      <a class="btn btn-secondary btn-sm mb-3" href="{% url 'company:add_branch' %}">
        <i class='bx bx-plus'></i>
        new branch
      </a>
    </div>
  </div>
<table class="table table-hover table-striped">
<thead class="bg-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope='col'>Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for branch in branches %}
      <tr>
        <th scope="row">{{ branch.id }}</th>
        <td>{{ branch.name }}</td>
        <td>{{ branch.address }}</td>
        <td>{{ branch.phonenumber }}</td>
        <td>{{ branch.email }}
        <td>
          <a class="btn btn-sm text-primary" href="{% url 'company:edit_branch' branch.id %}">
            <i class='bx bx-edit'></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>

</div>

{% endblock %}
