{% extends "base.html" %}
{% load static%}
{% block title%} Settings {% endblock title %}
{% block content %}
<div class="finance d-flex">
    <div class="main-content">
        <div class='px-2 py-2 bg-dark text-light align-items-center rounded'>
            <div class='h5'>
                <i class='bx bxs-dashboard'></i>
                Settings
            </div>
        </div>

        {% block nav %}
            <div class="mt-3 border rounded p-2">
                <nav class='recent-nav navbar navbar-expand-lg navbar-light bg-dark text-light px-2'>
                    <ul class='navbar-nav items  mr-auto'>
                        <li class='nav-item active' data-name="company">Company</li>
                        <li class='nav-item px-2' data-name="printer">Printer</li>
                        <li class='nav-item' data-name="cron">Cron Jobs</li>
                        <li class='nav-item px-2' data-name="email">Email Server</li>
                    </ul>
                </nav>
                <div class='content'>
                    <div class='company border p-2'>
                        <h6 class='fw-bold'>Company settings</h6>
                    </div>
                    <div class='cron hidden border p-2'>
                        <h6 class='fw-bold'>Cron Jobs settings</h6>
                    </div>
                    <div class='email hidden border p-2'>
                        <h6 class='fw-bold'>Email Server settings</h6>
                    </div>
                    <div class='printer hidden border p-2'>
                        <h6 class='fw-bold'>Printer settings</h6>
                    </div>
                </div>
            </div>
        {% endblock nav %}
    </div>

    <div class="modal fade" id="paylaterModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <ul id="partial_details"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loaderModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-2">Sending invoice to WhatsApp...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>  
<script src="{% static 'js/jquery.js'%}"></script>  
<script>
    const navButtons = document.querySelectorAll('.nav-item')
    const company = $('.company')
    const printer = $('.printer')
    const email = $('.email')
    const cron = $('.cron')

    navButtons.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                let name = event.target.getAttribute('data-name')

                navButtons.forEach(b => b.classList.remove('active')); 
                event.target.classList.add('active'); 

                show(name)
            }
        )
    })

    function show(name) {
        company.addClass('hidden');
        printer.addClass('hidden'); 
        email.addClass('hidden');
        cron.addClass('hidden');

        $(`.${name}`).removeClass('hidden'); 
    }

    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
        }
        }
        return cookieValue;
    } 

    </script>
{% endblock content %}
