{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Techcity Pos System"/>
    <meta name="Author"content="casy moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href='{% static "assets/boxicons/css/boxicons.css"%}' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock css %}

    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <title>
        {% block title %}Techcity{% endblock title %}
    </title>
</head>
<body>
    <div class="techcity">
        <div class="row">
            <div class=" top-bar">
                <div class="nav-bar"> {% include "base/navbar.html" %} </div>
                <div class='row'>
                    <div class="aside-bar col-2 text-light"> {% include "base/aside.html" %} </div>
                    <div class="app-area col w-100 bg-light">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </row>
            </div>
            <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <p class='fw-bold'>Notifications</p>
                            </div>
                            <div class="mt-4">
                                <ul class='list-unstyled' id="notis"></ul>
                                <ul class='list-unstyled' id="finance_notifications"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="branchModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <p class='fw-bold'>Choose Branch</p>
                            </div>
                            <div class="mt-4">
                                <ul class='list-unstyled'>
                                    {% for branch in branches %}
                                        <li><a href="{% url 'company:switch_branch' branch.id %}" class="px-3 text-dark">{{ branch.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>    
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        const notisModal = new bootstrap.Modal(document.querySelector('#notificationModal'))
        const notisButton = document.querySelector('#notisBtn')

        const branchModal = new bootstrap.Modal(document.querySelector('#branchModal'))
        const branchButton = document.querySelector('#branchButton')

        branchButton.addEventListener('click', ()=>{
            branchModal.show()
        })

        notisButton.addEventListener('click', ()=>{
            notisModal.show()
        })

        $.ajax({
            url: '{% url "inventory:notifications_json" %}',
            type: 'GET',
            }).done(function(response) {
                const data = response;
                displayInventoryNotifications(data)
            })

        $.ajax({
            url: '{% url "finance:finance_notifications_json" %}',
            type: 'GET',
            }).done(function(response) {
                const data = response;
                console.log(data)
                displayFinanceNotifications(data)
            })
        
        function displayFinanceNotifications(data) {
            const ul = document.querySelector('#finance_notifications');
            const notificationTypes = {};
            
            data.forEach((notification) => {
                if (!notificationTypes[notification.notification_type]) {
                notificationTypes[notification.notification_type] = [];
                }
                notificationTypes[notification.notification_type].push(notification);
            });
            
            Object.keys(notificationTypes).forEach((type) => {
                
                notificationTypes[type].forEach((notification) => {
                const li = document.createElement('li');
                if(notification.transfer__to === {{request.user.branch.id}}){
                    li.innerHTML = `<small><a href='{% url "finance:cash_transfer_list" %}'>${notification.notification}</a></small>`;
                }
                if(notification.expense__branch === {{request.user.branch.id}}){
                    li.innerHTML = `<small><a>${notification.notification}</a></small>`;
                }
                if(notification.invoice__branch === {{request.user.branch.id}}){
                    li.innerHTML = `<small><a>${notification.notification}</a></small>`;
                }
                ul.appendChild(li);
                });
            });
            }
              
        function displayInventoryNotifications(data){
            const ul = document.querySelector('#notis');

            data.forEach((data)=>{
                const li = document.createElement('li');
                li.innerHTML = `<small><a href='/inventory/inventory-detail/${data.inventory__id}/'>` + data.notification + `</a></small>`
                ul.appendChild(li);
            })
        }
    </script>
</body>
</html>