{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class="d-flex bg-dark text-light shadow rounded align-items-center p-2">
        <div class="h5">
            Add Expense
        </div>
    </div>
    <form method='post' class='bg-secondary mt-2 p-2 rounded'>
        {% csrf_token %} 
        <div id="div_id_payment_method" class="mb-3"> <label
            for="id_payment_method" class="form-label requiredField">
            Payment method<span class="asteriskField">*</span> </label> <select name="payment_method" class="select form-select" required id="id_payment_method"> <option value="" selected>---------</option> <option value="cash">cash</option> <option value="bank">bank</option> <option value="ecocash">ecocash</option>
        </select> </div>
        <div id="div_id_currency" class="mb-3"> <label
            for="id_currency" class="form-label requiredField">
            Currency<span class="asteriskField">*</span> </label> <select name="currency" class="select form-select" required id="id_currency"> <option value="" selected>---------</option> <option value="1">USD</option> <option value="2">ZIG</option>
        </select> </div>
        <div id="div_id_amount" class="mb-3"> 
            <label
                for="id_amount" class="form-label requiredField">
                Amount
                <span class="asteriskField">*</span> 
            </label> 
            <input type="number" name="amount" step="0.01" class="numberinput form-control" required id="id_amount"> 
            <p class="text-danger fs-6" id="id_amount_error"></p>
        </div> 
        <div id="div_id_category" class="mb-3"> 
            <label
                for="id_category" class="form-label requiredField">
                Category
                <span class="asteriskField">*</span> 
            </label> 
            <div class='d-flex'>
                <select name="category" class="select form-select" required id="id_category"> 
                    <option value="" selected>---------</option> 
                    {% for category in expense_categories%}
                        <option value="{{category.id}}">{{category.name}}</option> 
                    {% endfor %}
                </select> 
                <button class='btn btn-secondary btn-sm' id='id_category_button' type="button">
                    <i class='bx bx-plus'></i>
                </button>
            </div>
        </div> 
        <div id="div_id_description" class="mb-3"> 
            <label
                for="id_description" class="form-label requiredField">
                Description<span class="asteriskField">*</span> 
            </label> 
                <textarea name="description" cols="40" rows="3" maxlength="200" class="textarea form-control" required id="id_description"></textarea> 
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <div class="">
                <button type="reset" class="btn btn-danger btn-sm w-100">
                    <i class='bx bx-reset'></i>
                    Reset
                </button>
            </div>
            <span class="px-1"></span>
            <div class="">
                <button type="submit" id="id_submit" class="btn btn-secondary btn-sm w-100">
                    <i class='bx bx-save'></i>
                    Save
                </button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class='fw-bold'>Add Category</h5>
                    {% include 'finance/expenses/add_category.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const expButton = document.querySelector('#id_category_button')
    const categoryModal = new bootstrap.Modal(document.querySelector('#categoryModal'))
    
    expButton.addEventListener(
        'click', ()=>{
            categoryModal.show()
        }
    )

    document.querySelector('#id_amount').addEventListener(
        'change', ()=>{
            const amount = $('#id_amount').val()
            const errorElement = document.querySelector('#id_amount_error')

            if (amount <= 0){
                errorElement.innerHTML='* Amount cant be less than or equal to zero'
            }else{
                errorElement.innerHTML=''
            }
        }
    )

    document.querySelector('#id_category_submit').addEventListener(
        'click', ()=>{
            const data = {
                 name: $('#id_name').val(),
                 csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }
            $.ajax({
                url: '{% url 'finance:create_expense_category'%}',
                type: 'POST',
                data: data,
                }).done(function(response) {
                    document.querySelector('#id_category_message').innerHTML=response.message
                })
        }
    )
</script>
{% endblock content %}
