{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class="d-flex justify-content-between align-items-center bg-dark text-light rounded shadow">
        <div class="h5 p-2">
            <span>Add currency</span>
        </div>
    </div>
    <form method='post' class='mt-2 p-2 bg-secondary'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-flex justify-content-end">
            <div class="">
                <button type="reset" class="btn btn-danger btn-sm w-100">
                    <i class='bx bx-reset'></i>
                    Reset
                </button>
            </div>
            <span class="px-1"></span>
            <div class="">
                <button type="submit" class="btn btn-secondary btn-sm w-100">
                    <i class='bx bx-save'></i>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
