{% extends "base.html" %}
{% load static%}
{% block title%} Currency {% endblock%}
{% block content %}
<div class="currency d-flex">
    <div class="w-100">
        <nav class="border rounded d-flex justify-content-between bg-dark text-light rounded shadow align-items-center p-2">
            <div class=''>
                <h5 class='fw-bold'>Currency</h5>
            </div>
            <div class='d-flex'>
                <a href={% url 'finance:add_currency' %} class='btn btn-primary'>
                    <i class='bx bx-plus'></i>
                    Add currency
                </a>
                <span class='px-2'></span>
                <form method="get" class="d-flex justify-content-between align-items-center">
                    <input
                        id="search"
                        name="q"
                        type="search"
                        value="{{search_query}}"
                        class="form-control"
                        placeholder="search..."
                    />
                </form>
            </div>
        </nav>

        <table class="table border rounded p-2 mt-2">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Exchange rate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for currency in currencies %}
                    <tr style='color: #6c757d;'>
                        <td><small>{{currency.code}}</small></td>
                        <td><small>{{currency.name}}</small></td>
                        <td><small>{{currency.symbol}}</small></td>
                        <td><small>{{currency.exchange_rate}}</small></td>
                        <td>
                            <span>
                                {%  if request.user.role == 'admin' %}
                                    <a href="{% url 'finance:update_currency' currency.id%}" class="text-dark">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                {% endif %}
                            </span>
                            <span>
                                {% if request.user.role == 'admin' %}
                                    <span  data-id={{currency.id}} id='delete' class="text-dark px-2">
                                        <i class='bx bx-trash-alt'></i>
                                    </span>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="delete-modal hidden">
        <div class="modal-content d-flex justify-content-center align-items-center mt-5">
            <p class="fs-4 fw-bold">Confirm Product deletion</p>
            <div>
                <button class="btn btn-secondary btn-sm yes">
                    yes
                </button>
            </div>
            <div>
                <button id="btn-close" class="btn btn-danger btn-sm">
                    no
                </button>
            </div>
        </div>
    </div>
    <div class="overlay hidden"></div>
</div>

<script src="{% static 'js/jquery.js'%}"></script>
<script>
     let currency_id = 0
     const modal = document.querySelector('.delete-modal')
     const overlay = document.querySelector('.overlay')
     const deleteButtons = document.querySelectorAll('#delete')

     const currencyId=(element)=>{
         console.log(element)
         currency_id = element.dataset.id
     }

     deleteButtons.forEach((button)=>{
         button.addEventListener(
             'click', ()=>{
                 modal.classList.remove('hidden')
                 overlay.classList.remove('hidden')
             }
         )
     })
     
     document.querySelector('.yes').addEventListener(
         'click', ()=>{
             $.ajax({
                 url: `/delete_currency/${currency_id}` 
                 type: 'GET',
                 }).done(function(response) {
                    window.location.reload()
                 }
             )
         }
     )
     document.querySelector('#btn-close').addEventListener(
         'click', ()=>{
             modal.classList.add('hidden')
             overlay.classList.add('hidden')
         }
     )
</script>
{% endblock content %}
