{% extends "base.html" %}
{% load static%}
{% block title%} Invoices {% endblock%}
{% block content %}
<div class="finance d-flex">
    <div class="px-2 main-content ">
        <div class="finance-navbar">
            <nav class="d-flex justify-content-between align-items-center bg-dark text-light rounded shadow p-2">
                <div class='h5'>
                    <i class='bx bx-dollar'></i> 
                    Invoices
                </div>
                <div class='d-flex'>
                    <form method="get" class="d-flex justify-content-between align-items-center">
                        <input
                            id="search"
                            name="q"
                            type="search"
                            value="{{search_query}}"
                            class="form-control"
                            placeholder="search..."
                        />
                    </form>
                    <div class='d-flex px-2'>
                        <button type="button" id='filterBtn' class='btn btn-light border rounded btn-sm'>Filters</button>
                    </div>
                </div>
            </nav>
        </div>
        {% include 'components/loader.html' %}
        <div class='invoice-table mt-3 table-scroll'>
            <table class="table table-striped border table-hover rounded table-responsive table-sm p-2" id='invoiceTable' style='width:100%;'>
                <thead class="bg-primary">
                    <tr class='fw-normal'>
                        <th scope="col">Date</th>
                        <th scope="col">Invoice #</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Details</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Amount Due</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Processed by</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr style='color: #6c757d; cursor:pointer'>
                            {% if invoice.payment_status == 'Paid'%}
                                <td scope="row"><small>{{invoice.issue_date}}</small></td>
                                <td><small>#{{invoice.invoice_number}}</small></td>
                                <td><small><a href="{% url 'finance:customer' invoice.customer.id%}">{{invoice.customer.name}}</a></small></td>
                                <td><small>{{invoice.products_purchased}}</small></td>
                                <td id="tr" data-invoiceID={{invoice.id}} ><small>{{invoice.currency.symbol}} {{invoice.amount_paid}}</small></td>
                                <td><small>{{invoice.currency.symbol}} {{invoice.amount_due}}</small></td>
                                <td><small>{{invoice.currency.symbol}} {{invoice.amount}}</small></td>
                                <td><small>{{invoice.user.username}}</small></td>
                                <td>
                                    <span>
                                        <a href="{% url 'finance:invoice_preview' invoice.id %}" class='text-dark'>
                                            <i class='bx bx-show'></i>
                                        </a>
                                    </span>  
                                    <span class='px-2'>
                                        {% if invoice.amount_due > 0 %}
                                            <span style='cursor:pointer;' data-id={{ invoice.id }} data-amount={{ invoice.amount_due }} id='id_update' class="text-dark">
                                                <i class='bx bx-right-arrow'></i>
                                            </span>
                                        {% else %}
                                            <span style='cursor:pointer;'  class="text-dark hint--bottom" aria-label='Invoice fully paid'>
                                                <i class='bx bx-rectangle'></i>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span>
                                        {% if request.user.role == 'admin' %}
                                            <span data-id={{invoice.id}} id='whatsappBtn'>
                                                <i class='bx bxl-whatsapp'></i>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span class='px-2'>
                                        {% if request.user.role == 'admin' %}
                                            <span id='id_delete' data-id={{invoice.id}}>
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        {% endif %}
                                    </span>  
                                </td>
                            {% else %}
                                <td scope="row" class='text-danger' ><small>{{invoice.issue_date}}</small></td>
                                <td class='text-danger'><small>#{{invoice.invoice_number}}</small></td>
                                <td><small><a href="{% url 'finance:customer' invoice.customer.id%}">{{invoice.customer.name}}</a></small></td>
                                <td><small>{{invoice.products_purchased}}</small></td>
                                <td id="tr" data-invoiceID={{invoice.id}} class='text-danger'><small>{{invoice.currency.symbol}} {{invoice.amount_paid}}</small></td>
                                <td class='text-danger'><small>{{invoice.currency.symbol}} {{invoice.amount_due}}</small></td>
                                <td class='text-danger'><small>{{invoice.currency.symbol}} {{invoice.amount}}</small></td>
                                <td class='text-danger'><small>{{invoice.user.username}}</small></td>
                                <td>
                                    <span>
                                        <a href="{% url 'finance:invoice_preview' invoice.id %}" class='text-dark'>
                                            <i class='bx bx-show'></i>
                                        </a>
                                    </span>  
                                    <span class='px-2'>
                                        {% if invoice.amount_due > 0 %}
                                            <span style='cursor:pointer;' data-id={{ invoice.id }} data-amount={{ invoice.amount_due }} id='id_update' class="text-dark hint--bottom" aria-label='Update invoice'>
                                                <i class='bx bx-right-arrow'></i>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span>
                                        {% if request.user.role == 'admin' %}
                                            <span data-id={{ invoice.id }}  id='whatsappBtn'>
                                                <i class='bx bxl-whatsapp'></i>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span class='px-2'>
                                        {% if request.user.role == 'admin' %}
                                            <span id='id_delete' data-id={{invoice.id}}>
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        {% endif %}
                                    </span>  
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>

        <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2">Sending invoice to WhatsApp...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="paymentsModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center" id='payment_content'>
                        {% include 'finance/invoices/invoice_payments.html' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="loaderModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <i class='bx bx-check-circle h1'></i>
                        <h2>Payment Successfull</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h6 class="mt-2 fw-bold">Filters</h6>
                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='category' value=''/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>All invoices</button>
                        </form> 
                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='category' value='paid'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Fully paid</button>
                        </form> 
                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='category' value='due'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Partially Paid</button>
                        </form>   
                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='today'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Today</button>
                        </form> 

                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='yesterday'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Yesterday</button>
                        </form> 
                        
                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='t_week'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>This Week</button>
                        </form> 

                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='l_week'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Last week</button>
                        </form> 

                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='t_month'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>This month</button>
                        </form> 

                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='l_month'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>Last month</button>
                        </form> 

                        <form method='get' class='d-flex justify-content-center mt-2'>
                            <input hidden name='day' value='t_year'/>
                            <button type="submit" class='btn btn-large border w-100 btn-flat'>This year</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" id='delete_content'>
                        <h5 class='fw-bold'>Delete Invoice</h5>
                        <div>
                            <button class='btn btn-secondary w-100' onclick='deleteInvoice();'>Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" id='payment_content'>
                        {% include 'finance/invoices/update_invoice.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
    const whatsappBtn = document.getElementById('whatsappBtn');
    const appModal = new bootstrap.Modal(document.getElementById('appModal'));

    const filterBtn = document.getElementById('filterBtn');
    const filterModal = new bootstrap.Modal(document.getElementById('filterModal'));


    const trEl = document.querySelectorAll('#tr')
    const paymentsModal = new bootstrap.Modal(document.getElementById('paymentsModal'));

    const deleteBtn = document.querySelectorAll('#id_delete')
    const deleteContent = document.querySelector('#delete_content')
    const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));

    const updateBtn = document.querySelectorAll('#id_update')
    const updateModal = new bootstrap.Modal(document.getElementById('updateModal'));

    const loader = new bootstrap.Modal(document.getElementById('loaderModal'));

    let invoiceId = '';
    let invoiceAmountDue = '';
    let paymentMethod = '';
    const error = document.querySelector('#id_amount_error');
    const loaderModal = new bootstrap.Modal(document.getElementById('loaderModal'));
    const tableEl = document.querySelector('#invoiceTable');
    const loaderSpin = document.querySelector('#loader');

    new DataTable('#invoiceTable');
    
    setTimeout(()=>{
        loaderSpin.classList.add('hidden');
        loaderSpin.classList.remove('d-flex')
        tableEl.classList.remove('hidden')
    }, 300)
    // payment methods
    document.querySelectorAll('.pm').forEach(button => {
        button.addEventListener('click', () => {
            console.log(button.dataset.name);
            if (button.dataset.name === 'cash') { 
                paymentMethod = button.dataset.name;
            } else if (button.dataset.name === 'ecocash'){
                paymentMethod = button.dataset.name;
            } else if (button.dataset.name === 'bank'){
                paymentMethod = button.dataset.name;
            }
            updatePayment();
        });
    });

    // update payment
    function updatePayment(){
        const amount_paid = parseFloat(document.querySelector('#id_amount_paid').value);
        let validation = false

        const data = {
            amount_paid: amount_paid,
            payment_method: paymentMethod
        }

        let customerName = '{{invoice.customer.name}}'
        error.textContent = `Updating ${customerName}(s) invoice`;

        if (paymentMethod === ''){
            error.textContent = `* Please choose payment method`;
        }
        else if (amount_paid === '' || amount_paid <= 0){
            error.textContent = `* Amount cannot be zero or negative `;
        }else if (amount_paid > invoiceAmountDue ){
            error.textContent = `* Amount cannot be more than amount due ${invoiceAmountDue} `;
        }
        else{
            validation = true
        }

        if(validation){
            fetch(`/finance/invoice/update/${invoiceId}/`, {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"), 
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    updateModal.hide()
                    loaderModal.show()
                    setTimeout(() => {
                        window.location.href='{% url "finance:invoice" %}';
                    }, 2000);
                } else {
                    loaderModal.hide()
                    error.textContent='*' + data.message
                }
            })
            .catch((error) => {
            console.error("Error:", error);
            });
        }
    }

    updateBtn.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                invoiceId= btn.dataset.id
                invoiceAmountDue = btn.dataset.amount
                updateModal.show()
            }   
        )
    })

    deleteBtn.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                invoiceId = btn.dataset.id
                deleteModal.show()
                console.log(invoiceId)
            }   
        )
    })

    function deleteInvoice(){
        fetch(`/finance/invoice/delete/${invoiceId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            deleteContent.innerHTML=''
            deleteContent.innerHTML=data.message
            window.location.reload()
        })
        .catch(error => {
            alert(error)
        });
    }

    trEl.forEach((tr)=>{
        tr.addEventListener(
            'click', ()=>{
                fetchInvoiceData(tr.dataset.invoiceid)
            }   
        )
    })

    filterBtn.addEventListener('click', ()=>{
        filterModal.show()
    })

    whatsappBtn.addEventListener('click', function() {
        appModal.show(); 
        whatsappBtn.disabled = true; 

        const invoiceId = this.dataset.id;

        fetch(`/finance/send_invoice_whatsapp/${invoiceId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            whatsappBtn.disabled = false;
        })
        .catch(error => {
            whatsappBtn.disabled = false; 
            console.error('Error:', error);
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock content %}
