{% extends "base.html" %}
{% load static%}
{% block title%} Invoices {% endblock%}
{% block content %}
<div class="finance d-flex">
    <div class="px-2 main-content ">
        <div class='row mt-2'>
            <div class='col-4'>
                <div class='card'>
                    <div class='card-body border rounded'>
                        <h6>Pending</h6>
                        <h6 class='text-center text-light text-muted'>${{total_pending}}</h6>
                    </div>
                </div>
            </div>
            <div class='col-4'>
                <div class='card'>
                    <div class='card-body border rounded'>
                        <h6>Due</h6>
                        <h6 class='text-center text-light text-muted'>${{total_due}}</h6>
                    </div>
                </div>
            </div>
            <div class='col-4'>
                <div class='card'>
                    <div class='card-body border rounded'>
                        <h6>Paid</h6>
                        <h6 class='text-center text-light text-muted'>${{total_paid}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="finance-navbar mt-2">
            <nav class="d-flex justify-content-between align-items-center p-2 border rounded">
                <div class="d-flex">
                    <div>
                        <a href='{% url 'finance:finance'%}' class='btn btn-primary btn-sm'>
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                    </div>
                    <div class='px-1'> 
                        <a href="{% url 'finance:create_invoice' %}" class="btn btn-light btn-sm" id='id_expense_button'>
                            <i class='bx bx-plus'></i>
                            Invoice
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class='mt-3 mb-3'>
            <div class='mt-2'>Invoice List</div>
        </div>
        
        <table id="expenseTable" class="table border rounded p-2">
            <thead>
                <tr>
                    <th> </th>
                    <th>Date</th>
                    <th>Invoice Number</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr style='color: #6c757d;'>
                        <td>
                            <form method="get" action="{% url 'finance:invoice_pdf'%}">
                                <input name="id" value="{{invoice.id}}" hidden/>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="bx bx-download"></i> 
                                </button>
                            </form>
                        </td>
                        <td>{{invoice.issue_date}}</td>
                        <td>#{{invoice.invoice_number}}</td>
                        <td>{{invoice.customer.name}}</td>
                        <td>{{invoice.payment_status}}</td>
                        <td>${{invoice.amount}}</td>
                        <td>
                            <span>
                                {%  if request.user.role == 'admin' %}
                                    <a href="{% url 'finance:expense_update' invoice.id%}" class="btn btn-light btn-sm text-primary">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                {% endif %}
                            </span>
                            <span>
                                {% if request.user.role == 'admin' %}
                                    <button id='delete' data-id="{{invoice.id}}" onclick="expenseId(this)" class="btn btn-light btn-sm text-danger">
                                        <i class='bx bx-trash-alt'></i>
                                    </button>
                                {% endif %}
                            </span>
                            <span>
                                {% if request.user.role == 'admin' %}
                                    <button class="btn btn-light btn-sm text-success">
                                        <i class='bx bx-right-arrow'></i>
                                        process
                                    </button>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="sidebar mt-2 px-2 border rounded ">
        <h6 class="mt-1">Filter</h6>
        {% include 'components/filters.html'%}
    </div>

    <div class="invoice-modal hidden">
        <div class="modal-content">
            {% include 'finance/expenses/add_expense.html'%}
        </div>
    </div>
    <div class="overlay hidden"></div>
</div>

<script type="text/javascript">
    const modal = document.querySelector('.invoice-modal')
    const overlay = document.querySelector('.overlay')
    const expButton = document.querySelector('#id_expense_button')
    
    expButton.addEventListener(
        'click', ()=>{
            modal.classList.remove('hidden')
            overlay.classList.remove('hidden')
        }
    )
    
    document.querySelector('#btn-close').addEventListener(
        'click', ()=>{
            modal.classList.add('hidden')
            overlay.classList.add('hidden')
        }
    ) 
</script>
{% endblock content %}
