{% extends "base.html" %}
{% load static%}
{% block title%} Analytics {% endblock title %}
{% block content %}
<div class='analytics'>
    <div class='d-flex justify-content-between align-items-center bg-dark text-light p-2 shadow rounded'>
        <div class='h5'>Analytics</div>
        <div>
            <button class="btn btn-light" id='filterBtn'>
                <option>Filter</option>
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="graph-content bg-warning py-3">
                <h5 class='bg-warning text-light p-2 rounded fw-bold'>Top Product's</h5>
	            <div class='text-center'>
                    <img class='rounded shadow' src="{% url 'analytics:sales_chart_image' %}" alt="Sales Chart">
                </div>
            </div>
        </div>
    </div>

    <h1>Best Hour for Sales</h1>
    <div>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    <script type='module' src="{% static 'js/node_modules/chart.js/dist/chart.js' %}">
        {% comment %} const { Chart } = require('chart.js') {% endcomment %}
        {% comment %} console.log('working')
        const ctx = document.getElementById('myChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ hours|safe }},
                datasets: [{
                    label: 'Total Sales',
                    data: {{ sales|safe }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }); {% endcomment %}
    </script>
</div>
{% endblock %}